{% extends "base.html" %} {% load crispy_forms_tags %}

{% block title %} Sign up {% endblock %}

{% block content %}
   <div class=" container ">
    <h1 class=" text-center mb-3" > Add Student </h1>
    <div class='row'>
    <div class='col-sm-6 offset-sm-3'>
        <p class=" text-center alert alert-info" > <b>Enter student details to create new account for him/her: </b></p>
        <form method="post">  {% csrf_token %}
            {{ form|crispy}} 
            <p><input type="submit" class='btn btn-info' value="Create my account"></p>
        </form>
    </div>
    </div>
    </div>
{% endblock %}