{% extends 'base.html' %}


{% block content %}


<main >

<div class="container">
<div class="row"></div>
  <div class="col-lg-4">
    <div class="card border-0 shadow mb-4">
      <div class="card-body">
        <h5 class="mb-0">Need something more?</h5>

        <div class="row">
          <div class="col-12">
            <div class="item-preview-title d-flex align-items-center">
            SB UI Kit Pro
            <span class='badge badge-warning ml-auto small badge-pill'>Pro</span>
            </div>
            <hr class="mb-4">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card border-0 shadow mb-4">
      <div class="card-body">
        <h5 class="m-0">Description</h5>
        <hr>
        Simple Sidebar is a basic sidebar menu page layout for Bootstrap websites with off canvas navigation on smaller screen sizes. It is a great starting point for minimal dashboard web apps, or general websites with a toggleable sidebar.
      </div>
    </div>
  </div>

</div>

</div>
</main>


 

{% endblock %}

