{% extends 'base.html' %}

{% block title %}VoteMe.com |Log In{% endblock %}


{% block style %}

input[name="username"]{
    margin: 15px 0;
}
.checkbox{
    margin-top:15px;
}
{% endblock style %}

{% block content %}
    <div class='row '>
    <div class='container'>
    <div class='col-sm-6 offset-sm-3'>
    <form class="form-signin " action='' method='POST'>{% csrf_token %}
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name='username' id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name='password' id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">

        {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-danger" role="alert">
            {{message}}
            </div>
        {% endfor %}
        {% endif %}
        
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
    </form>
    </div>
    </div>
    </div>
 
{% endblock %}