{% extends "base.html" %}

{% block title %} My courses {% endblock %}

{% block content %}
<div class='container'>
    
    
    <div class="row">
        <div class='col-sm-6 '>
<h1 class='text-center mb-4'>My courses</h1>
            {% for course in object_list %}
                <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> <a href={% url "course_section_update" course.slug %}> {{ course.title }}</a> </h3>
                    <div class=" dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sections
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for section in course.section.all  %}
                        <a class="dropdown-item" href="#">{{section}}</a>
                        {% endfor %}
                        </div>
                    </div>
                    <p>
                        <a class="card-link" href="{% url "course_edit" course.slug %}">Edit</a>
                        <a class="card-link" href="{% url "course_delete" course.slug %}">Delete</a>
                    </p>
                </div>
            {% empty %}
                <p>You haven't created any courses yet.</p>
            {% endfor %}
            
            <p>
            <a href="{% url "course_create" %}" class=" ml-5 btn btn-primary ">Create new
            course</a>
            </p>
        </div>
        </div>
    </div>
    </div>
        <div class='col-sm-6 '>
<h1 class='text-center mb-4'>My students</h1>
            {% for student in students %}
                <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> <a href=""> {{ student.get_full_name }}</a> </h3>
            
                    <p>
                        <a class="card-link" href=""> See proccess</a>
                        <a class="card-link" href="">Edit details </a>
                    </p>
                </div>
            {% empty %}
                <p>You haven't students yet.</p>
            {% endfor %}
            
            <p>
            <a href="{% url "adding_student" %}" class=" ml-5 btn btn-primary ">Add new student</a>
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}