{% extends "base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    {% with subject=object.subject %}
        <div class="container">
        <h1 class='text-center'>  {{ object.title }}  </h1>
        
            <h2>Overview</h2>
            <p> {{ object.overview|linebreaks }} </p>
            <p>
                <a href="{% url "course_list_subject" subject.slug %}">{{ subject.title }}</a>.
                {{ object.section.count }} sections.
                Instructor: {{ object.owner.get_full_name }}
            </p>
            <ul style='float:none;'>
            {% for section in object.section.all  %}
            <li> {{section}}
                <ul>
                {% for lesson in section.lesson.all  %}
                    <li>sd
                    {{lesson}}
                    </li>
                {% endfor %}
                </ul>
            </li>
            
            {% endfor %}
            </ul>

        </div>
    {% endwith %}
{% endblock %}