{% extends "base.html" %}

{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}
    <div class='container'>
    <div class="row">
    <div class="col-lg-4">
    <div class="card border-0 shadow mb-4">
      <div class="card-body " style='background-color:#333; color:white;'>
        <h3 class="text-center " >Subjects</h3>
        <hr style='border-color:white;'>

        <div class="row">
          
          <div class="col-12">
            <div class="item-preview-title d-flex align-items-center" {% if not subject %}id="selected"{% endif %} >
            <a href="{% url "course_list" %}">All</a>
            <span class='badge badge-warning ml-auto small badge-pill'>{{all}}</span>
            
            <br class="mb-4">
            <br class="mb-4">
            </div>
          </div>
        
          {% for s in subjects %}

           <div class="col-12">
            <div class="item-preview-title d-flex align-items-center" {% if subject == s %}id="selected"{% endif %}>
            <a href="{% url "course_list_subject" s.slug %}">
                {{ s.title }}
            </a>
            <span class='badge badge-warning ml-auto small badge-pill'>{{ s.total_courses }} </span>
            
            <br class="mb-4">
            <br class="mb-4">
            </div>
           </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
       
       <!--    main content        -->
      
       <!--   end main content  --> 
    <div class="col-lg-8">
    <div class="card border-0 shadow mb-4">
    <h1 class='text-center' >
            {% if subject %}
                {{ subject.title }} courses
            {% else %}
                All courses
            {% endif %}
    </h1>
    </div>
    {% for course in courses %}
    {% with subject=course.subject %}
        <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <h5 class="m-0"><a href="{% url "course_detail" course.slug %}"> {{ course.title }} </a></h5>
            <hr>
            <p> {{course.overview}}</p>
            <p>
                        <a href="{% url "course_list_subject" subject.slug %}">{{ subject }}</a>.
                        {{ course.total_sections }} sections.
                        Instructor: {{ course.owner.get_full_name }}
            </p>
        </div>
        </div>
    {% endwith %}
    {% endfor %}
    
    </div>
    </div>
    </div>
{% endblock %}