{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
{% endblock link %}

   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content" style='min-height:50vh;' >

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            {% if latest_posts %}
            <div class="page-section bg-body border-bottom-2 " >
                <div class="container page__container">
                            <div class="page-separator">
                                <div class="page-separator__text">So'ngi yangilik va maqolalar</div>
                            </div>

                    <div class="row card-group-row">
                        {% for post in latest_posts  %}
                        <div class="col-md-6 col-lg-4 card-group-row__col">
                            <div class="card card--elevated posts-card-popular overlay card-group-row__card">
                                <img src="{{post.image.url}}" alt="Image" class="card-img">
                                <div class="fullbleed bg-primary" style="opacity: .5"></div>
                                <div class="posts-card-popular__content">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar-group flex">
                                            <div class="avatar avatar-xs" data-toggle="tooltip" data-placement="top" title="{{post.user.get_full_name}}">
                                                <a href="#"><img {% if post.user.profile.img %} src="{{post.user.profile.img.url}}"{% else %} src='#' alt="{{post.user.first_name|truncatechars:1}}{{post.user.last_name|truncatechars:1}}"{% endif %} class="avatar-img rounded-circle"></a>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="posts-card-popular__title card-body">
                                        <small class="text-muted text-uppercase">{{post.update}}</small>
                                        <a class="card-title" href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            {% endif %}

            <div class="page-section " >
                {% if page_obj %}
                <div class="container-fluid page__container">
                    <div class="page-separator">
                        <div class="page-separator__text">Barcha yangiliklar & maqolalar</div>
                    </div>

                    <div class="row">
                            {%for item in page_obj%}
                            <div class="col-sm-6">
                            <div class="card image-in-post " >
                                <div class='card-img-top p-1'>
                                <img src="{{item.image.url}}" class="img-fluid" style='max-height:280px;'/>
                                </div>
                                <div class="card-body ">
                                <a href='{{item.get_absolute_url}}' class="card-title text-accent-dodger-blue" style='font-size:19px;'>{{item.title}}</a>
                                {{item.get_markdown|truncatechars_html:150}}<hr>
                                
                                <p ><b> Avtor: {{item.user.get_full_name}}</b>  <span class='float-right'> {{item.update}} </span></p>
                               
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                        <div class='col-12' style='padding-left:33%;'>
                            <ul class="pagination justify-content-start pagination-xsm m-0" style='margin: auto!important;'>
                                <li class="page-item  {% if not page_obj.has_previous %} disabled {% endif %}">
                                    <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                                        <span aria-hidden="true" class="material-icons">chevron_left</span>
                                        <span>Avvalgi</span>
                                    </a>
                                </li>
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Page 1">
                                        <span>&laquo;1</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item active">
                                <span class="current page-link">
                                 {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                                </span>
                                </li>
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Page 2">
                                        <span>..&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %} ">
                                    <a class="page-link" href=" {% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                                        <span>Keyingi</span>
                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>



    <!-- // footer            //------------ -->
    {% include 'new/footer.html' %}
    <!-- END FOOTER-->


    </div>
    <!-- // END drawer-layout__content -->

    <!-- drawer -->

    
                {% include 'new/tutor_sidebar.html' %}

    <!-- // END drawer -->

</div>
{% endblock %}
<!-- // END drawer-layout -->
