{% extends 'new/base.html' %} {%load crispy_forms_tags%}


{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
{{form.media}}
{% endblock link %}
{% block style %}
.wmd-panel{
    margin:0;
    min-width:300px;
    width:100%;
}
ul.wmd-button-row{
    background-color:white;
}
.wmd-preview{
    display:none;
}
{% endblock style %}


{% block main %}

 <div class='container-fluid '>

<h1 class='text-center'>Post yozish </h1>

{% for mes in messages  %}
<div class='alert alert-danger'>
{{mes}}
</div>
{% endfor %}
<div class='row mt-2'>
<div class='col-md-6'>
        <h2> Postni kiritish </h2>
        <hr/>
        <form action=' ' method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{form|crispy}}

        <input type='submit' class='btn btn-outline-secondary' value='Yaratish' >
        </form>
    </div>
    <div class='col-sm-6'>
        <h2 > Ko'rish</h2>
        <hr/>
        <h3 class='text-center' id='preview-title' style='background-color:white; padding-bottom:0; margin-bottom:0; min-height:25px'></h3>
        <div id='preview-content' style='font-size:initial; font-family:inherit; background-color:white; padding-top:0; padding-left:10px; margin-top:0; min-height:325px;'></div>

    </div>
    
</div>
</div>

{%endblock %}

<script>
{% block post %}

    setTitle(itemTitle);
    setContent(itemContent);
 
    itemTitle.keyup(function(){
        setTitle(itemTitle);
    })

    itemContent.keyup(function(){
        setContent(itemContent);
    })
{% endblock post %}
</script>