
{% extends 'new/base.html' %}

{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
{% endblock link %}

{% block main %}


    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->

<div class='container'>
<div class='row'>
<div class=" card col-sm-10 offset-sm-1 " style="width: 18rem;">
{% for mes in messages  %}
<div class='alert alert-success'>
{{mes}}
</div>
{% endfor %}
    <div class="card-body ">
        <div class='text-center'>
        <img src='{{post.image.url}}' class="img-fluid" style='max-height:300px; width:auto; min-width:50%'> 
        </div>
        <h5 class="card-title" style='font-size:1.3rem'>{{post.title}}</h5><p class='text-muted text-50'> Matn hajmi: {{post.read_time}} min </p>
        <div class="card-text markdown image-in-post" style='font-size:initial;'> {{post.content}}</div><hr>
        
        <p class='float-right text-100'>{{post.update}} </p>
        
        <p class='text-uppercase text-accent-dodger-blue'>Avtor: {{post.user.get_full_name}} </p>
        {% if request.user == post.user %}
        <a href="{{post.get_absolute_url}}/edit"><button class='btn  btn-primary' type='button'>Tahrirlash</button > </a>
        <a href="{{post.get_absolute_url}}/delete"><button class='btn  btn-primary' type='button'>O'chirish</button > </a>
        <hr>
        {% endif %}


    </div>
    
</div>
 

</div></div>
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!-- END FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
{% endblock main %}

