{% extends "base.html" %}

{% block title %}Delete course{% endblock %}

{% block content %}
<div class='container text-center' style='height:45vh;'>

    <h1 >Delete course "{{ object.title }}"</h1>

        <form action="" method="post" >
            {% csrf_token %}
            <p class='mt-5' style='font-size:20px;'> <b>Are you sure you want to delete "{{ object }}"? </b></p>
            <input type="submit" class='btn btn-warning' value="Confirm">
        </form>
    
</div>
{% endblock %}