{% extends "base.html" %} {% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Edit course "{{ object.title }}"
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}

{% block content %}
    
<div class='container'>
    <h1 class='text-center'>
        {% if object %}
            Edit course "{{ object.title }}"
        {% else %}
            Create a new course
        {% endif %}
    </h1>
    
    <div class="row">
    <div class='col-sm-6 offset-sm-3'> 
        <h2 class='text-center'>Course info</h2>
        <form method="post">
        {{ form|crispy}}
        {% csrf_token %}
        <p><input type="submit" class='btn btn-success btn-block' value="Save course" ></p>
        </form>
    </div>
    </div>
</div>
{% endblock %}