nav.navbar{
    font-size: 1.5rem;
}
.navbar-brand{
    font-size: 1.8rem;
    font-weight: 5000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-item{
    margin-left: 10px;
}

#selected{
    background-color: #3f3f3f;
    
}
.item-preview-title.d-flex.align-items-center{
    padding-left: 10px;
    padding-right: 10px;
}

.item-preview-title.d-flex a{
    color: white;
}

.item-preview-title.d-flex a:hover{
    color:#3FAD37;
    text-decoration: none;
}
