.owner_saying_section {
    margin-top: 10rem;
}

.owner_saying_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
}

.owner_saying_text {
    height: 380px;
    max-width: 600px;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 3px 2px 6px 0 rgba(44, 44, 44, 0.429);
}

.owner_saying_text  p {
    color: #7c7c7c;
    text-indent: 10px;
    position: relative;
    line-height: 1.7;
    font-size: 1.2rem;
    font-style: italic;
    text-align: justify;
}

.quote1 {
    margin-right: 1rem;
    color: #7c7c7c;
}

.quote2 {
    margin-left: 1rem;
    color: #7c7c7c;
}

#quoter {
    margin: 0;
    margin-top: 1.5rem;
    color: #7c7c7c;
    text-align: end;
}

.owner_img_container {
    width: 400px;
}

.owner_img_container {
    transform: translateZ(10px);
    transform: translateY(-25px);

}

.owner_img {
    box-shadow: 4px 2px 6px 0 rgba(20, 20, 20, 0.404);
    width: 100%;
}
#owner_name {
    margin-bottom: 0.2rem;
}

.owner_name_position {
    font-style: italic;
    font-size: 1.1rem;
    color:#7c7c7c;
}

@media (max-width: 560px) {
    .owner_saying_text {
        height: 650px;
        margin-top:0!important;
    }
    .owner_saying_section{
        margin-top: 2rem;
    }
}