.about_us_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between;
}

.about_us_desc {
    width: 500px;
    margin-top: 1rem;
}

.about_us_video {
    margin-top: 1rem;
}

.about_us_desc button {
    padding: 0.5rem 0.8rem;
    color: #fff;
    border: none;
    background-color: #5567ff;
}

.about_us_desc button:hover {
    background-color: #4351cc;
}



@media (max-width: 1200px) {
    .about_us_video {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 550px) {
    .Usvideo {
        width: 100%;
    }
}