.contact_wrapper {
    text-align: center;
    background-color: #303956;
    padding: 2rem 0;
}

.address_location {
    margin-top: 1rem;
    line-height: 3;
    text-align: start;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
}

.address_location i {
    margin-right: 0.5rem;
}

.contact_wrapper p, span, i {
    color: #fff;
}

.contact_wrapper h3 {
    color: #fff;
    margin: 0;
    margin-top: 1rem;
}

.contact_us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contact_us_title {
    color: #fff;
    text-align: center;
    margin: 0;
}

.contact_us_underline {
    display: block;
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: #b3b3b3;
}

.contact_us_form {
    width: 400px;
}

input[type="text"], input[type="email"], textarea {
    border-radius: 5px;
    width: 100%;
    display: block;
    border: 1px solid #b3b3b3;
}

input[type="email"], textarea {
    margin-bottom: 1rem;
}

input[type="text"], input[type="email"] {
    height: 40px;
    padding: 1rem;
}

input[type="submit"] {
    width: 40%;
    margin: 1rem auto;
    color: #fff;
    background-color: #303956;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0.5rem;
}

.social_media {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.social_media a:not(:first-child) {
    display: inline-block;
    margin-left: 1rem;
}