.stat {
    background: #303956;
    padding: 4rem 0;
    background-attachment: fixed;
    color: #fff;
}

.stat i {
    font-size: 3.1rem;
}

.stat-items h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
}

.stat-items p {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}