.about_us_conatainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our_mission {
    width: 100%;
    min-width: 312px;
    font-size: initial;
    padding-bottom:100px;
}

.about_us_card {
    position: absolute;
    width: 70%;
    min-width: 355px;
    height: 150px;
    bottom: -40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 5px 3px 12px 0 rgba(136, 136, 136, 0.486);
    margin-left:10%;
}

.about_us_card_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.about_us_card_element:not(:first-child) {
    border-left: 2px solid rgba(226, 226, 226, 0.575);
}

.about_us_card_element i {
    margin-bottom: 0.5rem;
    color: #334272;
    font-size: 2rem;
}

.about_us_card2 {
    display: none;
}

@media (max-width: 550px) {
    .about_us_card2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        background-color: #fff;
        padding: 1.5rem;
        height: 100px;
        box-shadow: 5px 3px 12px 0 rgba(136, 136, 136, 0.486);
        padding: 0.5rem;
        text-align: center;
    }

    .about_us_card2 i {
        font-size: 1rem;
    }


     .about_us_card2 h5 {
         font-size: 0.9rem;
     }

    .our_mission  {
        width: 100%;
        padding-bottom:10px;
    }
    .about_us_card {
        display: none;
    }

}