.map_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;

}
#map { 
    z-index: -1;
        width: 60%;
        height: 400px;
        background-color: grey;
    }
.address {
    width: 400px;
}    
.our_course_image {
    width: 100%;
    height: 210px;
}

.our_course_image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 589px) {

    .address {
        width: 100%;
        margin-bottom: 2rem;
    }

    .map_container {
        flex-direction: column;
    }

    #map  {
        width: 100%;
        height: 300px;
    }
}
.map_section_title {
    text-align: center;
}