.stats_container {
    margin: 5rem 0;
    position: relative;
    z-index: -1;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page-separator {
    z-index: -1!important;
}

.stats_container .stats_card {
     box-shadow:  9px 9px 1px #f3f5f8, 
             -9px -9px 1px #f7f9fd; 
    position: relative;
    margin-top: 1.5rem;
    width: 290px;
    background:     #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease-out;
}


svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f5f7fa;;
    z-index: 1000;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #303956;
    font-weight: bold;
    font-size: 2.8rem;
    transition: 0.4s;
}



.percent .number h2 span {
    font-size: 24px;
    color: #777;
    transition: 0.4s;
}

.text {
    position: relative;
    color: #777;
    font-weight: 700;
    font-size: 0.8rem;
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
    transition: 0.5s;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #303956;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.stats_card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 89) / 100);
    stroke: #fffb00;
}

.stats_card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 97.5) / 100);
    stroke: red;
}

.stats_card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke: #09ff00;
}

.stats_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat_section {
    margin-top: 1rem;
}

.stat_header {
    display: flex;
    justify-content: center;
}

.stat_icon {
    width: 80px;