.teacher_cards{display:flex;flex-wrap:wrap;justify-content:center;margin-bottom:7rem}.teacher_cards .teacher_card{margin-bottom:0.5rem;width:250px;height:350px;background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(223,225,229,1) 0%, rgba(202,205,212,1) 0%, rgba(161,165,178,1) 52%, rgba(83,90,114,1) 52%, rgba(82,89,113,1) 53%, rgba(48,57,86,1) 100%);border-radius:1rem;padding:1rem;box-shadow:-1rem 0 2rem 2px rgba(0,0,0,0.452);transition:0.3s}.teacher_cards .teacher_card:not(:first-child){margin-left:-4rem}.teacher_cards .teacher_card:hover,.teacher_cards .teacher_card:focus-within{transform:translateY(-4rem);cursor:pointer}.teacher_cards .teacher_card:hover ~ .teacher_card,.teacher_cards .teacher_card:focus-within ~ .teacher_card{transform:translateX(3rem)}.teacher_cards .teacher_card .teacher_name{font-size:1.2rem;margin-bottom:0;color:#0c2e60}.teacher_cards .teacher_card .teacher_subject{margin-top:0.5rem;color:#0c2e60}.teacher_cards .teacher_card .teacher_desc{color:rgb(255, 255, 255);margin-top:1rem;line-height:1.5}.teacher_cards .teacher_card .teacher_img{border-radius:5px; width:100%; display: block;}

.our_staff_container {
    overflow: auto;
    text-align: center;
    margin: 1rem 0;
}

.teacher_cards {
    margin-top: 3rem;
}

@media (max-width: 560px) {
   .teacher_card {
       position: relative;
       z-index: -1;
       margin-left: 0!important;
       margin-bottom: 1rem!important;
   }
}