.why_choose {
    text-align: center;
    margin: 4rem 0;
}

.why_choose_reasons {
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fit, 248px);
    justify-content: center;
}

.why_choose_reason {
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    /* background-color: #eeeeee; */
    color: #272c33b3;
    font-size: initial;
}

.why_choose_title {
    display: inline-block;
    font-size: 0.3rem;
    padding: 0.1rem 2rem;
    margin: 1rem 0!important;
    border: 1px solid #303956;
}

.why_choose_desc {
    line-height: 1.6;
}