{% extends 'new/base.html' %}{% load static %}

{% block link %}

    <!-- aboutUs CSS -->
    <link type="text/css" href="{% static 'assets/css/aboutUs.css' %}" rel="stylesheet">

    <!-- ourCourses CSS -->
    <link type="text/css" href="{% static 'assets/css/ourCourses.css' %}" rel="stylesheet">

    <!-- whyChoose CSS -->
    <link type="text/css" href="{% static '/css/whyChoose.css' %}" rel="stylesheet">

    <!-- Counter CSS -->
    <link type="text/css" href="{% static 'assets/css/counter.css' %}" rel="stylesheet">

    <!-- Teachers CSS -->
    <link type="text/css" href="{% static 'assets/css/teachers.css' %}" rel="stylesheet">

    <!-- mapStyle CSS -->
    <link type="text/css" href="{% static 'assets/css/mapStyle.css' %}" rel="stylesheet">

    <!-- aboutPage -->
    <link type="text/css" href="{% static 'assets/css/aboutPage.css' %}" rel="stylesheet">

    <!-- ContactUs -->
    <link type="text/css" href="{% static 'assets/css/contactUs.css' %}" rel="stylesheet">

    <!-- deatailedAboutUs -->
    <link type="text/css" href="{% static 'assets/css/detailedAboutUs.css' %}" rel="stylesheet">

    <!-- deatailedAboutUs -->
    <link type="text/css" href="{% static 'assets/css/stats.css' %}" rel="stylesheet">

{% endblock link %}



{% block main %}

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout" style='z-index:100'>
        <!-- Header -->

        <div id="header" class="mdk-header mdk-header--bg-dark bg-dark  mb-0"
            data-effects="parallax-background waterfall" data-fixed data-condenses>
          
            <div class="mdk-header__content justify-content-center">

                <div class="navbar navbar-expand navbar-dark-dodger-blue bg-transparent will-fade-background"
                    id="default-navbar" data-primary>


                    <!-- Navbar Brand -->
                    <a href="{%url 'home'%}" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt" style='width: 5rem; height: 3.8rem;'>

                            <span class="avatar-title rounded bg-white"><img
                                    src="{% static 'assets/images/logo/virtualmaktab.png' %}" alt="logo"
                                    class="img-fluid" /></span>

                        </span>
                    </a>

                    <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                        <li class="nav-item ">
                            <a href="{%url 'home'%}" class="nav-link">Bosh sahifa</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle" onclick="myf()" data-toggle="dropdown" data-caret="false">Kurslar</a>
                            
                            <div class="dropdown-menu ">
                                <a href="{% url 'all_courses'%}" class="dropdown-item">Barcha Kurslar</a>
                                <hr class='m-0'>
                                {% for subject in get_all_subjects %}
                                    <a href="{{subject.get_absolute_url}}" class="dropdown-item">{{subject.title}}</a>
                                {% endfor %}
                                
                            </div>
                        </li>

                        <li class="nav-item ">
                            <a href="{%url 'blog'%}" class="nav-link " 
                               >Yangiliklar & Blog</a>
                                
                        </li>
                        
                        <li class="nav-item active">
                            <a href="{%url 'about_us'%}" class="nav-link" >Biz haqimizda</a>
                        </li>
      
                    </ul>








                    <ul class="nav navbar-nav ml-auto mr-0">
                        
                        <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a href="{%url 'logout'%}" class="nav-link " data-toggle="tooltip" data-title="Chiqish" ata-placement="bottom" data-boundary="window" data-original-title="" title="">
                                <i class="material-icons" style="color:inherit;">
                                    lock_open
                                </i>
                            </a>
                        {% else %}
                            <span class="nav-link" >
                                <i class="material-icons">
                                    lock
                                </i>
                            </span>
                        {% endif %}
                        </li>
                        <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_tutor %}
                            <a href="{%url 'manage_course_list'%}" class="btn btn-outline-white">Sinfxona</a>
                            {% else %}
                            <a href="{%url 'user_profile' pk=request.user.id%}" class="btn btn-outline-white">Sinfxona</a>
                            {% endif %}
                        {% else %}
                            <a href="{%url 'login'%}" class="btn btn-outline-white">Kirish</a>
                        {% endif %}
                        </li>

                    </ul>
                </div>

            
            </div>
        </div>
        
        {% comment %}{% include 'new/tutor_navbar.html' %} {% endcomment %}

        <!-- // END Header -->

        <!-- About Us Section START-->
            <div class="bg-white border-bottom-2 py-16pt " style='padding-top:100px!important;'>
                <div class="about_us_conatainer container page__container">
                    <div class="our_mission" >
                        <h2 class='text-center'>Biz haqimizda</h2>
                        <p>
                            Salimov Hamza Halimovich boshchiligidagi o’quv markaz 2000-yildan buyon G’ijduvon tumanida faoliyat ko’rsatib kelmoqda. Shu yillar orasida o’quv markazi nafaqat Buxoro, balki butun O’zbekiston alohisi, ilm ahli tomonidan munosib e’tirof etilib kelinmoqda. 
                        </p>
                        <br>
                        <p>
                            Markazda darslar ilg’or pedagoglar tomonidan yuksak mahorat bilan olib boriladi.
                        </p>
                        <br>
                        <p>
                            Markaz faoliyati davomida tinglovchilarining OTM kirish ko’rsatgichi hali biror marta 95%dan pastga tushmagan.
                        </p>
                        <br>
                        <p>
                            Bizning markazimizda shu yillar davomida butun Respublikamiz viloyatlaridan kelib tahsil olib, 20 yil davomida 40.000(qirq ming)dan ortiq o’quvchilar talaba degan maqomga ega bo’lishdi.
                        </p>
                        <br>
                        <p>
                            Boshqa hududlarda istiqomat qilayotgan o’quvchilarning talablariga binoan , xalqimizning beminnat xizmatida bo’lib kelayotgan pedagog kadrlar jamoasi endi online ta’lim tizida ham yoshlarga ilm berishda davom etayotganidan behad mamnun!
                        </p>

                     
                    </div>
                    <div class="about_us_card">
                        <div class="about_us_card_element">
                            <i class="fab fa-ideal"></i>
                            <h5>Ideal Kurslar</h5>
                        </div>
                        <div class="about_us_card_element">
                            <i class="fas fa-question-circle"></i>
                            <h5>Doimiy e'tibor </h5>
                        </div>
                        <div class="about_us_card_element">
                            <i class="far fa-building"></i>
                            <h5>Qulay ta'lim</h5>
                        </div>
                        <div class="about_us_card_element">
                            <i class="fas fa-graduation-cap"></i>
                            <h5>Yorqin kelajak</h5>
                        </div>
                    </div>
                </div>
                <div class="about_us_card2">
                    <div class="about_us_card_element">
                        <i class="fab fa-ideal"></i>
                        <h5>Ideal course</h5>
                    </div>
                    <div class="about_us_card_element">
                        <i class="fas fa-question-circle"></i>
                        <h5>Support</h5>
                    </div>
                    <div class="about_us_card_element">
                        <i class="far fa-building"></i>
                        <h5>Comfort</h5>
                    </div>
                    <div class="about_us_card_element">
                        <i class="fas fa-graduation-cap"></i>
                        <h5>Great Future</h5>
                    </div>
                </div>
            </div>
        
        <!-- About Us Section START-->
    </div>
    <!-- // END Header Layout -->
    <!-- Owner saying Section START -->
    <section class="owner_saying_section">
        <div class="owner_saying_container container">
            <div class="owner_img_container">
                <img class="owner_img" src="{% static 'assets/images/bill-gates.jpg' %}" alt="">
                <h3 id="owner_name">Bill Gates</h3>
            </div>
            <div class="owner_saying_text" style='margin-top:50px; height:280px'>
                <p>
                    <i class="quote1 fas fa-quote-left fa-lg"></i>
                    Texnologiyalar bir vosita xolos. O'quvchilarni ruhlantirish va birga yaxshi natijalarga erishish uchun eng muhimi bu - o'qituvchi! 
                    <i class="quote2 fas fa-quote-right fa-lg"></i>
                </p>
                <p id="quoter">- Bill Gates</p>
            </div>
        </div>
    </section>
    <!-- Owner saying Section END -->
       <!--Statistics Section START -->
    <section class="stat_section">
        <div class="container">
            <div class="page-separator">
                <div class="page-separator__text">Statistika</div>
            </div>
        </div>
        <div class="stat_header">
            <h1 style='margin-left: 15px;text-align: center;'>Bizning statistika</h1>
            <img class="stat_icon" src="{%static 'assets/images/stat_icon.png'%}" alt="">
        </div>
        <div class="stats_container container">
            <div class="stats_card">
                <div class="stats_box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>89 <span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">Muvaffaqiyatli Bitiruvchilar</h2>
                </div>
            </div>
            <div class="stats_card">
                <div class="stats_box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>96.5<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">O'tgan yilgi natija</h2>
                </div>
            </div>
            <div class="stats_card">
                <div class="stats_box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>95<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">O'rtacha ko'rsatkich</h2>
                </div>
            </div>
        </div>
    </section>
    <!--Statistics Section END -->

    <!-- Added feature START - Our Staff -->
    <section class="our_staff_container container">
        <div class="page-separator">
            <div class="page-separator__text">Bizning jamoa</div>
        </div>
        <h2>VirtualMaktab jamoasi o'qituvchilari</h2>
        <div class="d-flex flex-row justify-content-center teacher_cards">
            <div class="teacher_card">
                <img class="teacher_img" src="{% static 'assets/images/teacher1.jpg'%}" alt="">
                <h2 class="teacher_name">Anna Taylor</h2>
                <span class="teacher_subject">(Algebra)</span>
                <p class="teacher_desc"> lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.
                    lorem ipsum
                    dolor sit aVoluptate.</p>
            </div>
            
            <div class="teacher_card">
                <img class="teacher_img" src="{% static 'assets/images/teacher1.jpg'%}" alt="">
                <h2 class="teacher_name">Anna Taylor</h2>
                <span class="teacher_subject">(Algebra)</span>
                <p class="teacher_desc"> lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</p>
            </div>
            
            <div class="teacher_card">
                <img class="teacher_img" src="{% static 'assets/images/teacher1.jpg'%}" alt="">
                <h2 class="teacher_name">Anna Taylor</h2>
                <span class="teacher_subject">(Algebra)</span>
                <p class="teacher_desc"> lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</p>
            </div>
            
            <div class="teacher_card">
                <img class="teacher_img" src="{% static 'assets/images/teacher1.jpg'%}" alt="">
                <h2 class="teacher_name">Anna Taylor</h2>
                <span class="teacher_subject">(Algebra)</span>
                <p class="teacher_desc"> lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</p>
            </div>
            
            <div class="teacher_card">
                <img class="teacher_img" src="{% static 'assets/images/teacher1.jpg'%}" alt="">
                <h2 class="teacher_name">Anna Taylor</h2>
                <span class="teacher_subject">(Algebra)</span>
                <p class="teacher_desc"> lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</p>
            </div>
        
        </div>
    </section>
    <!-- Added feature END - Our Staff -->

    <!-- Google Maps start -->
    <section>

        <div class="map_section_title container">
            <h2>Biz bilan bog'lanish</h2>
        </div>

        <div class="container map_container">
            <div class="address mt-4" style='font-size:initial;'>
                <div class="our_address mb-4">
                    <h3>Bizning manzil</h3>
                    <p>Buxoro viloyati G'ijduvon tumani</p>
                </div>
                <div class="contact_info">
                    <h3>Kontaktlar</h3>
                    <p>salimovuzteach@gmail.com</p>
                    <p>virtualmaktab@gamil.com</p>
                    <p>+998 (91) 4029047</p>
                </div>
            </div>
            <!-- The div element for the  -->
            <div id="map" class="mt-4" style='z-index:inherit;'>
                <div style="position:relative;overflow:hidden; height:100%">
                    <a href="https://yandex.com/maps/org/gizhduvanskiy_dvorets_sporta/83876493831/?utm_medium=mapframe&utm_source=maps&lang=ru_RU" style="color:#eee;font-size:12px;position:absolute;top:0px;">Гиждуванский дворец спорта</a>
                    <a href="https://yandex.com/maps/191477/gijduvan/category/sports_center/?utm_medium=mapframe&utm_source=maps&lang=ru_RU" style="color:#eee;font-size:12px;position:absolute;top:14px;">Sports center in Gijduvan</a>
                    <iframe src="https://yandex.com/map-widget/v1/-/CCQteJCE1D?lang=ru_RU" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Google Maps end -->
    <!-- Contact us and message START -->
    <div class="contact_wrapper">
        <h1 id="contact_us_title">Murojaat qilish</h1>
        <span class="contact_us_underline"></span>
        <h3>Yordam berishdan mamnunmiz!</h3>
        <p>Iltimos savollaringiz, talab va takliflaringiz bo'lsa biz bilan bog'laning!</p>
        <div class="contact_us container">
            <form class="contact_us_form" action="#">
                <label for="name"></label>
                <input type="text" placeholder="Pochta manzilingiz...">
                <label for="email"></label>
                <input type="email" placeholder="Xabar matni...">
                <textarea name="message" cols="60" rows="10"></textarea>
                <input type="submit" value="Xabar yuborish">
            </form>
            <div class="adderess_social_media">
                <div class="address_location">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Muhriddin Fayziyev</span>
                    </div>
                    <div>
                        <i class="fas fa-phone-alt"></i>
                        <span>(91) 4029047</span>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <span>virtualmaktab@gmail.com</span>
                    </div>
                </div>
                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact us and message END -->
 
        {% include 'new/footer.html' %}

    <!-- drawer -->
    <!-- // END drawer -->

    <!-- Added CDNS START -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- Added CDNS END -->

    <!-- CounterUp CDN -->
    <script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js'%}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>
  



    <script>
        (function () {
            'use strict';
            var headerNode = document.querySelector('.mdk-header')
            var layoutNode = document.querySelector('.mdk-header-layout')
            var componentNode = layoutNode ? layoutNode : headerNode

            componentNode.addEventListener('domfactory-component-upgraded', function () {
                headerNode.mdkHeader.eventTarget.addEventListener('scroll', function () {
                    var progress = headerNode.mdkHeader.getScrollState().progress
                    var navbarNode = headerNode.querySelector('#default-navbar')
                    navbarNode.classList.toggle('bg-transparent', progress <= 0.2)
                })
            })
        });


    function myf(){    
    $(".nav-item.dropdown").toggleClass("show")
    $(".dropdown-menu").toggleClass('show')
    }

    </script>
{% endblock main %}

