{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}


<style>
{% block style %}

.selected .custom-checkbox .custom-control-label:after
{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E")}

.selected .custom-checkbox .custom-control-label:before
{color: #fff;
    border-color: #5567ff;
    background-color: #5567ff;
    box-shadow: none;}

.table tbody .selected>td {
    background-color: rgba(245,247,250,.5);
}
{% endblock style %}
</style>
   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">O'quvchilar </h2>

                        </div>
                    </div>

                </div>
            </div>



            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0;">
                <div class="page-separator  mt-3">
                    <div class="page-separator__text">Kursga O'quvchi Qo'shish  </div>
                </div>
            <form method="POST" action='' id='form'> 
                          
            <div id="0">
                
                <div class="card mb-lg-32pt" >

                    <div class="table-responsive " data-toggle="lists" data-lists-sort-by="js-lists-values-from" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-order&quot;, &quot;js-lists-values-name&quot;, &quot;js-lists-values-parent&quot;, &quot;js-lists-values-joined&quot;]">
                        <div class="card-header">
                            <h5 class='text-primary-dodger-blue text-center' > Ro'yxatdan o'tgan barcha o'quvchilar </h5>
                            <div class="search-form">
                                <input type="text" class="form-control search" placeholder="O'quvchini qidirish...">
                                <button class="btn" type="button"><i class="material-icons">search</i></button>
                            </div>
                        </div>
                       
                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                            
                            <thead>
                                <tr>
                                    <th style="width: 18px;" class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input js-toggle-check-all" id='customCheckAll' data-target="#projects" >
                                            <label class="custom-control-label" for="customCheckAll"><span class="text-hide">Toggle all</span></label>
                                        </div>
                                    </th>
                                    <th style="width: 170px;" class='text-center'>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">O'quvchi FISH</a>
                                    </th>
                                    <th style="width: 48px;" class='text-center'>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-parent">Ota-Onasi Tel.</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-joined">Qo'shilgan</a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="list" id="projects">

                                {% for student in all_students  %}
                                    <tr {% if student in course.students.all %}class='selected'{% endif %}>
                                        <td class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name='student_id_list' value='{{student.id}}' class="custom-control-input js-check-selected-row" id="customCheck_{{forloop.counter}}" {% if student in course.students.all %}checked{% endif %}>
                                            <label class="custom-control-label" for="customCheck_{{forloop.counter}}"><span class="text-hide">Check</span></label>
                                        </div>
                                        </td>
                                        <td class="flex d-flex flex-column" style='min-width:140px; white-space:initial;'>
                                            <a href='{{student.get_absolute_url}}#' class="mb-0 mt-0" style='font-size:17px;'><strong class="js-lists-values-name">{{student.get_full_name}}</strong></a>
                                            <small class='text-50'> {% if student.phone %}{{student.phone}} {% else %} no phone {% endif %}</small>
                                        </td>
                                        
                                        <td class="text-center js-lists-values-parent small"> {% if student.profile.parent_phone %}{{student.profile.parent_phone}}{% else %} - {% endif %}  </td>

                                        <td >
                                            <small class="js-lists-values-joined ">{{student.date_joined}}</small>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>

                    <div class="card-body bordet-top text-center text-primary-dodger-blue pt-2" style='font-size:20px;'>
                        <button  id='button' class='btn btn-primary-dodger-blue'> Tanlanganlarni kursga Qo'shish</button>
                    </div> 

                </div>
            </div>
            
            {% csrf_token %}
            </form>
            </div>
                    
 
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!-- END FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

 {% block js_link %}

     <!-- List.js -->
    <script src="{%static 'assets/vendor/list.min.js'%}"></script>
    <script src="{%static 'assets/js/list.js'%}"></script>

    <!-- Tables -->
    <script src="{%static 'assets/js/toggle-check-all.js'%}"></script>
    <script src="{%static 'assets/js/check-selected-row.js'%}"></script>

 {% endblock js_link %}


<script>
{% block script %}


$( "#button" ).click(function( event ) {

 $('.selected').each(function(){
     $('.selected input').attr('checked', true);
  })

$("#form").submit()
});

$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

{% endblock script %}
</script>
