<!DOCTYPE html>{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Course</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&amp;display=swap" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="{%static 'assets/vendor/perfect-scrollbar.css'%}" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="{%static 'assets/vendor/fix-footer.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{%static 'assets/css/material-icons.css' %}" rel="stylesheet">


    <!-- Font Awesome Icons -->
    <link type="text/css" href="{%static 'assets/css/fontawesome.css' %}" rel="stylesheet">


    <!-- Preloader -->
    <link type="text/css" href="{%static 'assets/css/preloader.css' %}" rel="stylesheet">


    <!-- App CSS -->
    <link type="text/css" href="{%static 'assets/css/app.css' %}" rel="stylesheet">

    <!-- Quill Theme -->
    <link type="text/css" href="{%static 'assets/css/quill.css' %}" rel="stylesheet">

    <!-- Select2 -->
    <link type="text/css" href="{%static 'assets/css/select2.css' %}" rel="stylesheet">

    <link type="text/css" href="{%static 'assets/vendor/select2/select2.min.css' %}" rel="stylesheet">


    {% block link %}
    {% endblock link %}

    <style>


    {% block style %}

    {% endblock style %}

    .image-in-post a{
     color:cornflowerblue;
    }
    </style>
    
</head>

<body class="layout-app ">

    
    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    {% block main %}

    {% endblock main %}












    <!-- jQuery -->
    <script src="{%static 'assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{%static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{%static 'assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{%static 'assets/vendor/perfect-scrollbar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{%static 'assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{%static 'assets/vendor/material-design-kit.js' %}"></script>

    <!-- Fix Footer -->
    <script src="{%static 'assets/vendor/fix-footer.js' %}"></script>

    <!-- App JS -->
    <script src="{%static 'assets/js/app.js' %}"></script>
    
    <!-- Quill -->
    <script src="{%static 'assets/vendor/quill.min.js' %}"></script>
    <script src="{%static 'assets/js/quill.js' %}"></script>
    <!-- Select2 -->
    <script src="{%static 'assets/vendor/select2/select2.min.js' %}"></script>
    <script src="{%static 'assets/js/select2.js' %}"></script>

  
    {% block js_link %}
    {% endblock js_link %}

    <script>
$(document).ready(function(){

    $(".markdown").each(function(){
        var con=$(this).text()
        var markedCon=marked(con)
        $(this).html(markedCon)
    })

    $(".image-in-post img").each(function(){
        $(this).addClass('img-fluid');
    })

    var itemTitle=$('#id_title')
    var itemContent=$('#wmd-input-id_content')
    
    function setTitle(value){
        $('#preview-title').text(value.val())
    }

    function setContent(value){
        $('#preview-content').html(marked(value.val()))
        $('#preview-content img').each(function(){
            $(this).addClass('img-fluid')
        })
    }   
    {% block post %}
    {% endblock post %}
});
    {% block script %}
    {% endblock script %}
    </script>



</body>
</html>


