{% extends 'new/base.html' %} {% load static %}{% load crispy_forms_tags %}

{% block style %}

    form label{
            color: #303956;
    text-transform: uppercase;
    font-size: .8125rem;
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
    form input{
        height:52px!important;
        font-size:18px!important;
    }

{% endblock style %}

{% block main %}

     <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Material Qo'shish</h2>

                        </div>
                    </div>


                </div>
            </div>

            <div class="page-section border-bottom-2">
                <div class="container page__container">
                <form action='' method='post' enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">

                            <div class="page-separator">
                                <div class="page-separator__text">Darsga qo'shimcha materiallar qo'shish</div>
                            </div>

                            {{form|crispy}}

                            <button type='submit'  class='btn btn-outline-secondary '> Saqlash </button>

                        </div>
                     
                    </div>

                </div></form>
            </div>

        <!--  START  FOOTER -->
        {% include 'new/footer.html' %}
        <!--  END  FOOTER  -->

        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->
        {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->
{% endblock %}

