{% extends 'new/base.html' %} {% load static %}{% load crispy_forms_tags %}

{% block style %}

    form label{
            color: #303956;
    text-transform: uppercase;
    font-size: .8125rem;
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
    form input{
        height:52px!important;
        font-size:18px!important;
    }

{% endblock style %}

{% block main %}

     <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section border-bottom-2">
                <div class="container page__container text-center" style='height:45vh;'>
                <h1 > "{{ object.title }}" ni o'chirish</h1>

                    <form action="" method="post" >
                        {% csrf_token %}
                        <p class='mt-5' style='font-size:20px;'> <b>Siz haqiqatdan ham  "{{ object }}" kursini o'chirmoqchimisiz. Ogohlantiramiz, u bilan bo'gliq barcha ma'lumotlar (kurs o'z ichiga olgan bo'limlar, darslar, dars materiallari) o'chadi va qayta tiklab bo'lmaydi. </b></p>
                        <input type="submit" class='btn btn-warning' value="tasqilash" style='height: 37px!important;font-size: 13px!important;'>
                        <a href="{%url 'manage_course_list'%}" class='btn btn-secondary'>Bekor qilish </a>
                    </form>
                </div>
            </div>

        <!--  START  FOOTER -->
        {% include 'new/footer.html' %}
        <!--  END  FOOTER  -->

        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->
        {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->
{% endblock %}

