{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left" >
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0"></h2>
                        </div>
                    </div>

                </div>
            </div>



            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0; max-width:1124px;">
                <div class="page-separator">
                    <div class="page-separator__text">
                    {% if subject %} {{subject.title}} kurslari{% else %} Barcha kurslar {% endif %}  [<span style='color:blue';>Jami: {{courses.count}} ta</span>]</div>
                </div>
            <div class="row card-group-row">

                    {% for course in courses  %}                      
                        <div class="col-md-6 col-lg-4 col-xl-3 card-group-row__col">

                            <div class="card card-sm card--elevated p-relative o-hidden overlay overlay--primary-dodger-blue js-overlay card-group-row__card" data-toggle="popover" data-trigger="click" data-original-title="" title="" data-domfactory-upgraded="overlay">


                                <a href="{{course.get_absolute_url}}" class="card-img-top js-image" data-position="center" data-height="140" data-domfactory-upgraded="image" style="display: block; position: relative; overflow: hidden; background-image: url({{course.banner.url}}); background-size: cover; background-position: center center; height: 140px;">
                                </a>

                                <div class="card-body flex">
                                    <div class="d-flex">
                                        <div class="flex">
                                            <a class="card-title" href="{{course.get_absolute_url}}">{{course.title}}</a>
                                            <small class="text-50 font-weight-bold mb-4pt">{{course.owner.get_full_name}}</small>
                                        </div>
                                        <span class="ml-4pt material-icons text-20 card-course__icon-favorite" >favorite_border</span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="rating flex">
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                                        </div>
                                        <!-- <small class="text-50">6 hours</small> -->
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-between">
                                        <div class="col-auto d-flex align-items-center">
                                            <span class="material-icons icon-16pt text-black-50 mr-4pt">access_time</span>
                                            <p class="flex text-black-50 lh-1 mb-0"><small>6 hours</small></p>
                                        </div>
                                        <div class="col-auto d-flex align-items-center">
                                            <span class="material-icons icon-16pt text-black-50 mr-4pt">play_circle_outline</span>
                                            <p class="flex text-black-50 lh-1 mb-0"><small>{{course.lessons}} ta dars</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}  
                    </div>
                    {% if not courses %}
                     <h4 class='text-center text-info mt-5 pt-5' style='min-height:35vh;'> Hozircha bu fanga doir birorta ham kurs mavjud emas!</h4>
                    
                    {% endif %}
            </div>
                    
 
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!-- END FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

 