 {% load static %}
 
             <div class="js-fix-footer2 bg-white border-top-2">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-2">
                        <img class="brand-icon" src="{%static 'assets/images/logo/virtualmaktab.png'%}" width="70" alt="Luma"> Online O'quv Platformasi
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt" style='max-width: 800px;'> VirtualMaktab online o'quv platformasida siz ko'p yillik tajribaga ega bo'lgan malakali o'qituvchilar tomonidan tayyorlangan video-kurslar, ulardagi qo'shimcha dars materiallari va testlar yordamida oliy o'quv yurtiga kirish imtihonlariga mustaqil tayyorlanishingiz mumkin. Eng asosiysi bu juda qulay bo'lib, istalgan vaqtda istalgan yerda sizga o'qib o'rganish imkonini beradi.</p>
                    <p class="mb-8pt d-flex">
                        <a href="{% url 'all_courses'%}" class="text-70 text-underline mr-8pt small">Barcha kurslar </a>
                        <a href="{% url 'blog' %}" class="text-70 text-underline mr-8pt small"> Yangiliklar & Blog </a>
                        <a href="{% url 'about_us'%}" class="text-70 text-underline small"> Biz haqimizda</a>
                    </p>
                    <p class="text-50 small mt-n1 mb-0"> 2020 &copy; Made by <a href='https://www.instagram.com/eliccorporation' style='color:blue;'>ELIC Corporation</a>.</p>
                </div>
            </div>
