{% extends 'new/base.html' %}{% load static %}

{% block link %}

    <!-- aboutUs CSS -->
    <link type="text/css" href="{% static 'assets/css/aboutUs.css' %}" rel="stylesheet">

    <!-- whyChoose CSS -->
    <link type="text/css" href="{% static 'assets/css/whyChoose.css' %}" rel="stylesheet">

    <!-- Counter CSS -->
    <link type="text/css" href="{% static 'assets/css/counter.css' %}" rel="stylesheet">

    <!-- Counter CSS -->
    <link type="text/css" href="{% static 'assets/css/mapStyle.css' %}" rel="stylesheet">

    <!-- aboutPage -->
    <link type="text/css" href="{% static 'assets/css/aboutPage.css' %}" rel="stylesheet">

    <!-- aboutPage -->
    <link type="text/css" href="{% static 'assets/css/contactUs.css' %}" rel="stylesheet">

    <!-- deatailedAboutUs -->
    <link type="text/css" href="{% static 'assets/css/detailedAboutUs.css' %}" rel="stylesheet">
{% endblock link %}



{% block main %}

<div class="layout-sticky-subnav layout-default ">

 
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header mdk-header--bg-dark bg-dark js-mdk-header mb-0"
            data-effects="parallax-background waterfall" data-fixed data-condenses>
            <div class="mdk-header__bg">
                <div class="mdk-header__bg-front"
                    style="background-image: url({% static 'assets/images/photodune-4161018-group-of-students-m.jpg'%});"></div>
            </div>
            <div class="mdk-header__content justify-content-center">



                <div class="navbar navbar-expand navbar-dark-dodger-blue bg-transparent will-fade-background"
                    id="default-navbar" data-primary>


                    <!-- Navbar Brand -->
                    <a href="{%url 'home'%}" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt" style='width: 5rem; height: 3.8rem;'>

                            <span class="avatar-title rounded bg-white"><img
                                    src="{% static 'assets/images/logo/virtualmaktab.png' %}" alt="logo"
                                    class="img-fluid" /></span>

                        </span>
                    </a>

                    <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                        <li class="nav-item active">
                            <a href="{%url 'home'%}" class="nav-link">Bosh sahifa</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target='#course' data-caret="false" aria-expanded="true">Kurslar</a>
                            <div class="dropdown-menu " id='course'>
                                <a href="{%url 'all_courses'%}" class="dropdown-item">Barcha kurslar</a>
                                <hr class='m-0'>
                                {% for subject in get_all_subjects  %}
                                <a href="{{subject.get_absolute_url}}" class="dropdown-item">{{subject.title}}</a>
                                {% endfor %}
                                
                            </div>
                        </li>

                        <li class="nav-item ">
                            <a href="{%url 'blog'%}" class="nav-link " >Yangiliklar & Blog</a>
                                
                        </li>
                        
                        <li class="nav-item ">
                            <a href="{%url 'about_us'%}" class="nav-link" >Biz haqimizda</a>
                        </li>
      
                    </ul>








                    <ul class="nav navbar-nav ml-auto mr-0">
                        
                        <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a href="{%url 'logout'%}" class="nav-link " data-toggle="tooltip" data-title="Chiqish" ata-placement="bottom" data-boundary="window" data-original-title="" title="">
                                <i class="material-icons" style="color:inherit;">
                                    lock_open
                                </i>
                            </a>
                        {% else %}
                            <span class="nav-link" >
                                <i class="material-icons">
                                    lock
                                </i>
                            </span>
                        {% endif %}
                        </li>
                        <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_tutor %}
                            <a href="{%url 'manage_course_list'%}" class="btn btn-outline-white">Sinfxona</a>
                            {% else %}
                            <a href="{%url 'user_profile' pk=request.user.id%}" class="btn btn-outline-white">Sinfxona</a>
                            {% endif %}
                        {% else %}
                            <a href="{%url 'login'%}" class="btn btn-outline-white">Kirish</a>
                        {% endif %}
                        </li>

                    </ul>
                </div>

                <div class="hero container page__container text-center text-md-left py-112pt">
                    <h1 class="text-white text-shadow">Online o'qi va o'rgan! </h1>
                    <p class="lead measure-hero-lead mx-auto mx-md-0 text-white text-shadow mb-48pt">Pandemiya davrida 
                    barcha sohalarda masofaviy ishlash rejimiga o'tilgan bir paytda, ta'lim sohasida ham ushbu 
                    o'zgarish sodir bo'ldi. Biz bilan esa hammasi oson, qulay va sifatli! </p>


                    <a href="{%url 'all_courses'%}" class="btn btn-lg btn-white btn--raised mb-16pt">Kurslarni ko'rish</a>


                    <p class="mb-0"><a href="#" class="text-white text-shadow"><strong>Siz o'qituvchimisiz?</strong></a>
                    </p>

                </div>
            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="bg-white border-bottom-2 py-16pt ">
                <div class="container page__container">
                    <div class="row align-items-center">
                        <div
                            class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
                            <div
                                class="rounded-circle bg-primary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                                <i class="material-icons text-white">subscriptions</i>
                            </div>
                            <div class="flex">
                                <div class="card-title mb-4pt">3,00+ Video darslar</div>
                                <p class="card-subtitle text-black-70">Qisqa va qiziqarli video darslar.</p>
                            </div>
                        </div>
                        <div
                            class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
                            <div
                                class="rounded-circle bg-primary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                                <i class="material-icons text-white">verified_user</i>
                            </div>
                            <div class="flex">
                                <div class="card-title mb-4pt">Yuqori sifat</div>
                                <p class="card-subtitle text-black-70">Professional va malaki o'qituvhilar!
                                </p>
                            </div>
                        </div>
                        <div class="d-flex col-md align-items-center">
                            <div
                                class="rounded-circle bg-primary w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                                <i class="material-icons text-white">update</i>
                            </div>
                            <div class="flex">
                                <div class="card-title mb-4pt">Cheksiz imkoniyatlar!</div>
                                <p class="card-subtitle text-black-70">A'zo bo'l va cheksiz imkoniyatlar eshigini och! .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Added feature START - About us video -->
            <div class="page-section border-bottom-2">
            <div class="about_us_container container">
                <div class="" style='font-family: initial; font-size: 19px;'>
                    <h2>Biz kimmiz va qanday ishlaymiz?!</h2>
                    <p>Ta'lim berish va abitiruyentlar tayyorlash sohasida o'z o'rniga ega <b style='font-weight:600;'>Salimov jamoasi</b> o'zining yangi online o'quv platformasini tashkil etib, ta'lim olish istagidan bo'lgan aziz o'qivchilar uchun online kurslarini taqdim etadi. Tajribali hamda yuqori salohiyatli o'qituvchilar jamoasi, hamda cheksiz imkoniyatlar endi sodda, qulay va chiroyli interfeysga ega <span style='color:blue;'>Virtual Maktab</span> online platformasida!</p>
                    <a href="{%url 'about_us'%}" class='btn btn-primary'>Batafsil</a>
                </div>
            </div>
            </div>
            <!-- Added feature END - About us video -->

            <!-- Added feature START - Our courses -->
            <div class="page-section border-bottom-2">
                <div class="container page__container">
                    <div class="page-separator">
                        <div class="page-separator__text">O'qitiladigan Fanlar</div>
                    </div>



                    <div class="row card-group-row">
                        {% for subject in get_all_subjects  %}
                        <div class="col-sm-3 card-group-row__col">
                            <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card"
                                data-toggle="popover" data-trigger="click">

                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex align-items-center">

                                        <div class="flex">
                                                    <div class="card-title"><a href="{{subject.get_absolute_url}}"> {{subject.title}}</a></div>
                                                    <p class="flex text-black-50 lh-1 mb-0"><small>{{subject.course_set.count}} ta kurs</small>
                                                    </p>
                                        </div>
                                        <span  class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite_border</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

            <div class="page-section border-bottom-2">
                <div class="container page__container">
                    <div class="page-separator">
                        <div class="page-separator__text">Talabgir Kurslar</div>
                    </div>



                    <div class="row card-group-row">
 
                        {% for item in courses  %}

                        <div class="col-md-6 col-lg-4 col-xl-3 card-group-row__col">

                            <div class="card card-sm card--elevated p-relative o-hidden overlay overlay--primary-dodger-blue js-overlay card-group-row__card"
                                data-toggle="popover" data-trigger="click">


                                <a href="{{item.get_absolute_url}}" class="card-img-top js-image" data-position=""
                                    data-height="140">
                                    <img src="{{item.banner.url}}" alt="course">
                                    <span class="overlay__content">
                                        <span class="overlay__action d-flex flex-column text-center">
                                            <i class="material-icons icon-32pt">play_circle_outline</i>
                                            <span class="card-title text-white">Ko'rish</span>
                                        </span>
                                    </span>
                                </a>

                                <div class="card-body flex">
                                    <div class="d-flex">
                                        <div class="flex">
                                            <a class="card-title" href="{{item.get_absolute_url}}">{{item.title}}</a>
                                            <small class="text-50 font-weight-bold mb-4pt">{{item.owner.get_full_name}}</small>
                                            <p> {{item.overview|truncatechars:120}}
                                        </div>
                                        <span  class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite_border</span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="rating flex">
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span class="material-icons">star</span></span>
                                            <span class="rating__item"><span
                                                    class="material-icons">star_border</span></span>
                                        </div>
                                        <!-- <small class="text-50">6 hours</small> -->
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-between">
                                        <div class="col-auto d-flex align-items-center">
                                            <span
                                                class="material-icons icon-16pt text-black-50 mr-4pt">access_time</span>
                                            <p class="flex text-50 lh-1 mb-0" style='color:yellow;'><small> {{item.created.date}}</small></p>
                                        </div>
                                        <div class="col-auto d-flex align-items-center">
                                            <span
                                                class="material-icons icon-16pt text-black-50 mr-4pt">play_circle_outline</span>
                                            <p class="flex text-black-50 lh-1 mb-0"><small>{{item.lessons}} ta dars</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Added feature END - Our courses -->

            <!-- Added feature START - Why Choose Us -->
            <div class="why_choose container">
                <h2>Nega endi VirtualMaktab! </h2>
                <div class="why_choose_reasons">
                    <div class="why_choose_reason">
                        <div ><i class='fa fa-award' style='color: #2b75e3;font-size: 67px;'></i> </div><br>
                        <h3 class="why_choose_title">Sifat kafolati</h3>
                        <p class="why_choose_desc">O'quvchilarimizning 90+ foizi ayni paytda talabalik baxtiga muyassar bo'lib, bizdan minnatdor bo'lishgan..</p>
                    </div>
                    <div class="why_choose_reason">
                        <div><i class='fa fa-thumbs-up' style='color: #2b75e3;font-size: 67px;'></i> </div><br>
                        <h3 class="why_choose_title">Qiziqarli</h3>
                        <p class="why_choose_desc">Testlar yechib bilimingizni tekshirish, turli statistikalar orqali o'z reytingizni bilib borish imkoniyati!</p>
                    </div>
                    <div class="why_choose_reason">
                        <div> <i class='fa fa-laptop-house' style='color: #2b75e3;font-size: 67px;'></i></div><br>
                        <h3 class="why_choose_title">Qulay</h3>
                        <p class="why_choose_desc">Platforma foydalanuvchilaruchun juda sodda, tushunarli va qulay qilib tayyorlangan.</p>
                    </div>
                    <div class="why_choose_reason">
                        <div> <i class='fa fa-bolt' style='color: #2b75e3;font-size: 67px;'></i></div><br>
                        <h3 class="why_choose_title">Katta tajriba</h3>
                        <p class="why_choose_desc">Jamoamizdagi o'qituvchilar ancha yillik ish tajribasiga gea bo'lib, jamomaiz 20 yildan buyon faoliyat yuritadi!</p>
                    </div>
                </div>
            </div>
            <!-- Added feature END - Why Choose Us -->

            <!-- Added Feature START Counter -->
            <section class="stat" id="stats">
                <div class="content">
                    <br><br>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-3">
                                <div class="stat-items">
                                    <i class="fa fa-shoe-prints"></i>
                                    <h2><span class="counter text-center">3390</span><span>+</span>
                                    </h2>
                                    <p>Tashriflar</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="stat-items">
                                    <i class="fa fa-users"></i>
                                    <h2><span class="counter text-center">1345</span><span>+</span>
                                    </h2>
                                    <p>Foydalanuvchilar</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="stat-items">
                                    <i class="fa fa-chalkboard-teacher"></i>
                                    <h2><span class="counter text-center">20</span><span>+</span>
                                    </h2>
                                    <p>O'qituvchilar</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="stat-items">
                                    <i class="fa fa-user-graduate"></i>
                                    <h2><span class="counter text-center">40000</span><span>+</span>
                                    </h2>
                                    <p>Bitiruvchilar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Added Feature END Counter -->

            <div class="page-section border-bottom-2">
                <div class="container page__container">

                    <div class="page-separator">
                        <div class="page-separator__text">So'ngi yangilik va e'lonlar</div>
                    </div>

                    <div class="row card-group-row">

                        <div class="col-md-6 col-lg-4 card-group-row__col">
                            <div class="card card--elevated posts-card-popular overlay card-group-row__card">
                                <img src="{% static 'assets/images/paths/sketch_430x168.png' %}" alt="" class="card-img">
                                <div class="fullbleed bg-primary" style="opacity: .5"></div>
                                <div class="posts-card-popular__content">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar-group flex">
                                            <div class="avatar avatar-xs" data-toggle="tooltip" data-placement="top"
                                                title="Janell D.">
                                                <a href="#"><img src="{%static 'assets/images/256_luke-porter-261779-unsplash.jpg' %}"
                                                        alt="Avatar" class="avatar-img rounded-circle"></a>
                                            </div>
                                        </div>
                                        <a style="text-decoration: none;" class="d-flex align-items-center" href="#"><i
                                                class="material-icons mr-1"
                                                style="font-size: inherit;">remove_red_eye</i> <small>327</small></a>
                                    </div>
                                    <div class="posts-card-popular__title card-body">
                                        <small class="text-muted text-uppercase">Sinov&Test</small>
                                        <a class="card-title" href="fixed-blog-post.html">Kelasi hafta blok test!</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-4 card-group-row__col">
                            <div class="card card--elevated posts-card-popular overlay card-group-row__card">
                                <img src="{% static 'assets/images/paths/sketch_430x168.png' %}" alt="" class="card-img">
                                <div class="fullbleed bg-primary" style="opacity: .5"></div>
                                <div class="posts-card-popular__content">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar-group flex">
                                            <div class="avatar avatar-xs" data-toggle="tooltip" data-placement="top"
                                                title="Janell D.">
                                                <a href="#"><img src="{%static 'assets/images/256_luke-porter-261779-unsplash.jpg' %}"
                                                        alt="Avatar" class="avatar-img rounded-circle"></a>
                                            </div>
                                        </div>
                                        <a style="text-decoration: none;" class="d-flex align-items-center" href="#"><i
                                                class="material-icons mr-1"
                                                style="font-size: inherit;">remove_red_eye</i> <small>327</small></a>
                                    </div>
                                    <div class="posts-card-popular__title card-body">
                                        <small class="text-muted text-uppercase">Sinov&Test</small>
                                        <a class="card-title" href="fixed-blog-post.html">Kelasi hafta blok test!</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-4 card-group-row__col">
                            <div class="card card--elevated posts-card-popular overlay card-group-row__card">
                                <img src="{% static 'assets/images/paths/sketch_430x168.png' %}" alt="" class="card-img">
                                <div class="fullbleed bg-primary" style="opacity: .5"></div>
                                <div class="posts-card-popular__content">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar-group flex">
                                            <div class="avatar avatar-xs" data-toggle="tooltip" data-placement="top"
                                                title="Janell D.">
                                                <a href="#"><img src="{%static 'assets/images/256_luke-porter-261779-unsplash.jpg' %}"
                                                        alt="Avatar" class="avatar-img rounded-circle"></a>
                                            </div>
                                        </div>
                                        <a style="text-decoration: none;" class="d-flex align-items-center" href="#"><i
                                                class="material-icons mr-1"
                                                style="font-size: inherit;">remove_red_eye</i> <small>327</small></a>
                                    </div>
                                    <div class="posts-card-popular__title card-body">
                                        <small class="text-muted text-uppercase">Sinov&Test</small>
                                        <a class="card-title" href="fixed-blog-post.html">Kelasi hafta blok test!</a>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>




            <div class="page-section">
                <div class="container page__container">
                    <div class="page-headline text-center">
                        <h2>Bildirilgan Fikrlar</h2>
                        <p class="lead measure-lead mx-auto text-black-70">Bizda o'qigan boshqa o'quvchilarning biz haqimizda bildirgan fikr va mulohazalari.</p>
                    </div>



                    <div class="position-relative carousel-card col-lg-8 p-0 mx-auto">
                        <div class="row d-block js-mdk-carousel" id="carousel-feedback">
                            <a class="carousel-control-next js-mdk-carousel-control mt-n24pt" href="#carousel-feedback"
                                role="button" data-slide="next">
                                <span class="carousel-control-icon material-icons"
                                    aria-hidden="true">keyboard_arrow_right</span>
                                <span class="sr-only">Keyingisi</span>
                            </a>
                            <div class="mdk-carousel__content">

                                <div class="col-12 col-md-6">

                                    <div class="card card-feedback card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="text-70 small mb-0">Juda ajoyib kurslar. O'qituvchilar juda mehnatkash, malakali va xushmuomala. 
                                            Doim o'quvchilar bilan qo'shimcha shug'ullanishadi.
                                            </p>
                                        </blockquote>
                                    </div>
                                    <div class="media ml-12pt">
                                        <div class="media-left mr-12pt">
                                            <a href="#" class="avatar avatar-sm">
                                                <!-- <img src="assets/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                                <span class="avatar-title rounded-circle">AZ</span>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#" class="card-title">Anvar Zokirov</a>
                                            <div class="rating mt-4pt">
                                                <span class="rating__item " ><span
                                                        class="material-icons " style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item" ><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item" ><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item" ><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item" ><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-md-6">

                                    <div class="card card-feedback card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="text-70 small mb-0">Yaxshi. Judayam foydali tavsiya qilaman. Platformani yanada kengaytirish kerak manimcha.
                                            </p>
                                        </blockquote>
                                    </div>
                                    <div class="media ml-12pt">
                                        <div class="media-left mr-12pt">
                                            <a href="#" class="avatar avatar-sm">
                                                <!-- <img src="assets/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                                <span class="avatar-title rounded-circle">BA</span>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#" class="card-title">Bobur Azimov</a>
                                            <div class="rating mt-4pt">
                                                <span class="rating__item"><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons" style='color:#f9c32c;'>star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons" style='color:#f9c32c;'>star_border</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-md-6">

                                    <div class="card card-feedback card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="text-70 small mb-0">Juda ajoyib kurslar. O'qituvchilar juda mehnatkash, malakali va xushmuomala. 
                                            Doim o'quvchilar bilan qo'shimcha shug'ullanishadi.
                                            </p>
                                        </blockquote>
                                    </div>
                                    <div class="media ml-12pt">
                                        <div class="media-left mr-12pt">
                                            <a href="#" class="avatar avatar-sm">
                                                <!-- <img src="assets/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                                <span class="avatar-title rounded-circle">UK</span>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#" class="card-title">Anvar Zokirov</a>
                                            <div class="rating mt-4pt">
                                                <span class="rating__item"><span
                                                        class="material-icons">star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons">star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons">star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons">star</span></span>
                                                <span class="rating__item"><span
                                                        class="material-icons">star_border</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <!-- // END Header Layout Content -->

        <!-- Google Maps start -->
        <section>

            <div class="section_tittle text-center">
                <h2>Biz bilan bog'laning!</h2>
            </div>

            <div class="container map_container">
                <div class="adress mt-4" style='font-size:initial;'>
                    <div class="our_address mb-4">
                        <h3>Bizning manzil</h3>
                        <p>Buxoro viloyati G'ijduvon tumani</p>
                    </div>
                    <div class="contact_info">
                        <h3>Kontaktlar:</h3>
                        <p>salimovuzteach@gmail.com</p>
                        <p>+998 914029047</p>
                    </div>
                </div>
                <!-- The div element for the  -->
                <div id="map" class="mt-4" style='z-index:inherit;'>
                    <div style="position:relative;overflow:hidden; height:100%">
                        <a href="https://yandex.com/maps/org/gizhduvanskiy_dvorets_sporta/83876493831/?utm_medium=mapframe&utm_source=maps&lang=ru_RU" style="color:#eee;font-size:12px;position:absolute;top:0px;">Гиждуванский дворец спорта</a>
                        <a href="https://yandex.com/maps/191477/gijduvan/category/sports_center/?utm_medium=mapframe&utm_source=maps&lang=ru_RU" style="color:#eee;font-size:12px;position:absolute;top:14px;">Sports center in Gijduvan</a>
                        <iframe src="https://yandex.com/map-widget/v1/-/CCQteJCE1D?lang=ru_RU" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- Google Maps end -->

        {% include 'new/footer.html' %}


    </div>
    <!-- // END Header Layout -->


    <!-- drawer -->

    <!-- // END drawer -->

    <!-- Added CDNS START -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- Added CDNS END -->

    <!-- CounterUp CDN -->
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>

</div>





    <script>
        (function () {
            'use strict';
            var headerNode = document.querySelector('.mdk-header')
            var layoutNode = document.querySelector('.mdk-header-layout')
            var componentNode = layoutNode ? layoutNode : headerNode

            componentNode.addEventListener('domfactory-component-upgraded', function () {
                headerNode.mdkHeader.eventTarget.addEventListener('scroll', function () {
                    var progress = headerNode.mdkHeader.getScrollState().progress
                    var navbarNode = headerNode.querySelector('#default-navbar')
                    navbarNode.classList.toggle('bg-transparent', progress <= 0.2)
                })
            })
        })()
    </script>

{% endblock %}

