{% extends 'new/base.html' %} {% load static %}

<style>

{% block style %} 
[dir=ltr] .stack {
    z-index:auto;
    }
    

{% endblock style %}
</style>


{% block main %}



     <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->

    {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="navbar navbar-light border-0 navbar-expand">
                <div class="container page__container">
                    <div class="media flex-nowrap">
                        <div class="media-left mr-16pt" style='font-size: 2.2rem; color: #5567ff; margin-top: 15px;'>
                            <i class='fa fa-bookmark '></i>
                        </div>
                        <div class="media-body">
                            <p class="card-title text-body mb-0" style='font-size:2rem;'>{{lesson.title}}</p>
                            <p class="lh-1 d-flex align-items-center mb-0">
                                <span class="text-50 small font-weight-bold mr-8pt">{{lesson.section}}</span>
                                <span class="text-50 small"> >> {{lesson.section.course.title}} | {{lesson.section.course.subject}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='files-section' style='margin-left: 10px;margin-right: 10px;'>
              
                <div class="page-separator">
                    <div class="page-separator__text">Dars materiallari</div>
                </div>



                <div class="row card-group-row mb-lg-8pt">

                    {% for item in lesson.materiallar.all  %}
                    <div class="col-sm-6 col-md-4 card-group-row__col">

                        <div class="card  card-sm  stack stack--1 card-group-row__card" >

                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <div class="d-flex align-items-center">
                                            <div class="rounded mr-12pt z-0 o-hidden" style='font-size:35px; '>
                                            {% if item.content_type.id == 9 %} 
                                                <i class='fa fa-file-word'></i>
                                            </div>
                                            <div class="flex">
                                                <div class="card-title">{{item.item.title}}</div>
                                                <small class='text-muted'>WORD Fayl</small>
                                            </div>
                                            {% elif item.content_type.id == 10 %}
                                                <i class=' fa fa-file-pdf'></i>
                                            </div>
                                            <div class="flex">
                                                <div class="card-title">{{item.item.title}}</div>
                                                <small class='text-muted'>PDF Fayl</small>
                                            </div>
                                            {% elif item.content_type.id == 12 %}
                                                <i class='fa fa-file-image'></i>
                                            </div>
                                            <div class="flex">
                                                <div class="card-title">{{item.item.title}}</div>
                                                <small class='text-muted'>RASM</small>
                                            </div>
                                            {% else %}
                                                <i class='fa fa-file-video'></i>
                                            </div>
                                            <div class="flex">
                                                <div class="card-title">{{item.item.title}}</div>
                                                <small class='text-muted'>VIDEO Fayl</small>
                                            </div>
                                            {% endif %}    

                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-divider"></div>
                                            <a href="{{item.item.file.url}}" class="dropdown-item text-danger" download>Yuklab olish</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    {% endfor %}

                    {% for test in lesson.tests.all  %}
                    <div class="col-sm-6 col-md-4 card-group-row__col">

                        <div class="card  card-sm  stack stack--1 card-group-row__card" >

                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <div class="flex">
                                        <div class="d-flex align-items-center">
                                            <div class="rounded mr-12pt z-0 o-hidden" style='font-size:35px; '>
                                                <i class='fa fa-tasks'></i> 
                                            </div>
                                            <div class="flex">
                                                <div class="card-title"> 
                                                {% if request.user in lesson.section.course.students.all %}
                                                <a href="{{test.get_absolute_url}}">{{test.title}}</a>
                                                {% else %}
                                                <a href="#">{{test.title}}</a>
                                                {% endif %}
                                                </div>
                                                <small class='text-muted'>TEST </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-divider"></div>
                                            <a href="{{test.test_file.url}}" class="dropdown-item text-danger" download>Yuklab olish</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="bg-primary py-32pt" >
                <div class="container page__container">
                    <nav class="course-nav">
                        <a data-toggle="tooltip" data-placement="bottom" data-title="{{lesson.title}}" href="#"><span class="material-icons text-primary">account_circle</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="{{lesson.next.title}}" href="#"><span class="material-icons">lock</span></a>
                    </nav>
                
                {% if lesson.lecture %}

                <div class='bg-white' style="background-color: white!important; ">
                    <div class="d-flex flex-wrap align-items-end mb-14pt">
                        <h1 class="flex m-0 text-center" style='color: #5567ff; font-size: 30px;'>{{lesson.title}}</h1>
                    </div>

                    <p class="hero__lead measure-hero-lead mb-24pt" style='max-width: inherit; margin: 0 8px; padding-bottom: 15px; color:#7b7c7d; font-size: 19px; '> 
                    {{lesson.lecture|linebreaks}}</p>
            
                </div>
                {% endif %}
                    <div class="js-player embed-responsive embed-responsive-16by9 mb-32pt">
                        <div class="player embed-responsive-item">
                            <div class="player__content">
                                <div class="player__image playvideo" style="--player-image: url({%static 'assets/images/illustration/player.svg'%})"></div>
                                <a href="#" class="player__play bg-primary playvideo">
                                    <span class="material-icons">play_arrow</span>
                                </a>
                            </div>
                            <div class="player__embed d-none">
                                <video controls width="100%" height="100%" >

                                    <source src="{{lesson.video.url}}"
                                            type="video/mp4">
                                </video>

                            </div>
                        </div>
                    </div>
                </div>
               <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start" style="padding-right: 24px;">
                    {% if request.user == lesson.section.course.owner %}
                    <a href="{{lesson.get_update_url}}" class="ml-4 btn btn-white">Darsni o'zgartirish</a>
                    {% endif %}
                   <div class='ml-auto'>
                        {% if lesson.video %}
                        <a href="{{lesson.video.url}}" download class=" btn btn-outline-white mb-sm-0 mr-sm-16pt" download>Yuklab olish  <i class="fa fa-arrow-alt-circle-down" style='margin-left:4px;'></i></a>
                        {% endif %}
                        {% if request.user in lesson.section.course.students.all %}
                            <a href="{{lesson.next.get_absolute_url}}#" class="  btn btn-white">Keyingi dars</a>
                        {% else %}
                            <a href="#" class="  btn btn-white">Keyingi dars</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center">
                <div class="container page__container">
                    <ul class="nav navbar-nav flex align-items-sm-center">
                        <li class="nav-item navbar-list__item">
                            <div class="media align-items-center">
                                <span class="media-left mr-16pt">
                                    {% if lesson.owner.profile.img %}
                                    <img src="{{lesson.owner.profile.img.url}}" width="40" alt="avatar" class="rounded-circle">
                                    {% endif %}
                                </span>
                                <div class="media-body">
                                    <a class="card-title m-0" href="teacher-profile.html">{{lesson.owner.get_full_name}}</a>
                                    <p class="text-50 lh-1 mb-0">O'qituvchi</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>


        <!-- FOOTER START   -->
            {% include 'new/footer.html' %}
        <!-- FOOTER END    -->

            

        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->
        {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->

{% endblock %}


<script>
{% block script %}

$('.playvideo').click(function(){
  $('video').trigger('play');
      });

{% endblock script %}
</script>