{% extends 'new/base.html' %}{% load static %}

{% block link %}

    <!-- aboutUs CSS -->
    <link type="text/css" href="{% static 'assets/css/aboutUs.css' %}" rel="stylesheet">

    <!-- ourCourses CSS -->
    <link type="text/css" href="{% static 'assets/css/ourCourses.css' %}" rel="stylesheet">

    <!-- whyChoose CSS -->
    <link type="text/css" href="{% static '/css/whyChoose.css' %}" rel="stylesheet">

    <!-- Counter CSS -->
    <link type="text/css" href="{% static 'assets/css/counter.css' %}" rel="stylesheet">

    <!-- Teachers CSS -->
    <link type="text/css" href="{% static 'assets/css/teachers.css' %}" rel="stylesheet">

    <!-- mapStyle CSS -->
    <link type="text/css" href="{% static 'assets/css/mapStyle.css' %}" rel="stylesheet">

    <!-- aboutPage -->
    <link type="text/css" href="{% static 'assets/css/aboutPage.css' %}" rel="stylesheet">

    <!-- ContactUs -->
    <link type="text/css" href="{% static 'assets/css/contactUs.css' %}" rel="stylesheet">

    <!-- deatailedAboutUs -->
    <link type="text/css" href="{% static 'assets/css/detailedAboutUs.css' %}" rel="stylesheet">

    <!-- deatailedAboutUs -->
    <link type="text/css" href="{% static 'assets/css/stats.css' %}" rel="stylesheet">

{% endblock link %}



{% block main %}

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout" style='z-index:100'>
        <!-- Header -->

        <div id="header" class="mdk-header mdk-header--bg-dark bg-dark  mb-0"
            data-effects="parallax-background waterfall" data-fixed data-condenses>
          
            <div class="mdk-header__content justify-content-center">

                <div class="navbar navbar-expand navbar-dark-dodger-blue bg-transparent will-fade-background"
                    id="default-navbar" data-primary>


                    <!-- Navbar Brand -->
                    <a href="fixed-index.html" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt" style='width: 5rem; height: 3.8rem;'>

                            <span class="avatar-title rounded bg-white"><img
                                    src="{% static 'assets/images/logo/virtualmaktab.png' %}" alt="logo"
                                    class="img-fluid" /></span>

                        </span>
                    </a>
                    <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                        <li class="nav-item">
                            <a href="{% url 'home'%}" class="nav-link">Bosh sahifa</a>
                        </li>
                        
                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Kurslar</a>
                            
                            <div class="dropdown-menu">
                                <a href="{% url 'all_courses'%}" class="dropdown-item">Barcha Kurslar</a>
                                <hr class='m-0'>
                                {% for subject in get_all_subjects %}
                                    <a href="{{subject.get_absolute_url}}" class="dropdown-item">{{subject.title}}</a>
                                {% endfor %}
                                
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="{%url 'blog'%}" class="nav-link">Yangiliklar & Blog</a>
                        </li>

                        <li class="nav-item">
                            <a href="{%url 'about_us'%}" class="nav-link">Biz haqda</a>
                        </li>

                    </ul>


                    <ul class="nav navbar-nav ml-auto mr-0">
                        <li class="nav-item">
                            <span  class="nav-link" 
                                data-placement="bottom" data-boundary="window"><i
                                    class="material-icons">lock</i></span>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>
        
        {% comment %}{% include 'new/tutor_navbar.html' %} {% endcomment %}
    </div>
    <!-- // END Header Layout -->

    <!--   Main  Login Form -->

    <div class='row' style='margin-top:110px; min-height:52vh;'>
    <div class='container'>
    <div class='col-sm-6 offset-sm-3'>
    <form class="form-signin " action='' method='POST'>{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Marhamat kiring</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name='username' id="inputEmail" class="form-control" placeholder="Login ..." required autofocus style='margin: 15px 0; '>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name='password' id="inputPassword" class="form-control" placeholder="Parol ..." required>
    <span toggle="#inputPassword" class="fa fa-fw fa-eye field-icon toggle-password text-dark" style='float: right; margin-left:-25px; margin-right:6px; margin-top:-25px; position:relative; z-index:2;'></span>
    <div class="checkbox mb-3">
    
        {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-danger" role="alert" style='margin-top:15px;'>
            {{message}}
            </div>
        {% endfor %}
        {% endif %}
        
    </div>
    <button class="btn btn-md btn-primary btn-block" type="submit">Kirish</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 | VirtualMaktab online o'quv platformasi</p>
    </form>
    </div>
    </div>
    </div>

    <!--   Main  Login Form -->
    <!-- drawer -->

   {% include 'new/footer.html' %}
    <!-- // END drawer -->

{% endblock main %}

<script>
{% block script %}
$(".toggle-password").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
    input.attr("type", "text");
} else {
    input.attr("type", "password");
}
});

{% endblock script %}
</script>