{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-2">O'quvchilar</h2>

                        </div>
                    </div>


                </div>
            </div>




            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0;">
                <div class="page-separator">
                    <div class="page-separator__text">Yangi o'quvchini ro'yxatdan o'tkazish</div>
                </div>
                <div class="col-md-7 p-0">
                <form method='post' action='.' class='mb-4'> {% csrf_token %}
                    {{form|crispy}}
                <button type='submit' class="btn btn-primary">Saqlash</button>
                </div>
            </div>
                    
 
<!-- // footer            //------------ -->
   
{% include 'new/footer.html' %}
<!-- END FOOTER  -->

        </div>
        <!-- // END drawer-layout__content -->


        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->
{% block script %}

$('#id_is_tutor').removeAttr('required')

{% if not request.user.is_superuser %}
$('#div_id_is_tutor').remove()
{% endif %}
 
{% endblock script %}