{% extends 'new/base.html' %}


{% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
            {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->


            {% if empty %}

            <div style='min-height:45vh; max-width:500px;' class='m-auto text-center'>
                <h4 class='text-center text-info m-5 '> Sizda hech qanday kurs mavjud emas. Iltimos avval o'zingizning kursingizni yarating.</h4>
                 <div class='text-center mb-5'><a href="{%url 'course_create'%}" class='btn btn-accent-yellow'>Kurs Qo'shish </a></div>
  
            </div>


            {% else %}

            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">
                                {% if section %}
                                Bo'limni O'zgartirish
                                {% else %}
                                Bo'lim qo'shish
                                {% endif %}
                            </h2>
                        </div>
                    </div>


                </div>
            </div>


            <div class="page-section border-bottom-2" style='min-height:49vh;'>
                <div class="container page__container">
                    <form action='' method='post'>{% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">

                            <div class="page-separator">
                                <div class="page-separator__text">Asosiy ma'lumotlar</div>
                            </div>

                            <label class="form-label">Bo'lim nomi</label>
                            <div class="form-group mb-24pt">
                                <input type="text" class="form-control form-control-lg"  name='title' placeholder="Bo'lim nomini kiriting" value="{% if form.title.value %}{{form.title.value}}{% endif %}">
                            </div>
                           {% if course %}
                                <input type='number' name='course' value='{{course.id}}' hidden/>
                            {% else %}
                            <label class="form-label">Kurs </label>
                            <div class="form-group mb-24pt">
                                <select name="course" class="form-control  custom-select" id='section-course' onchange="my(this.value)" style='height:53px; font-size:1.21875rem;'>
                                    {% for course in request.user.owned_courses.all %}
                                        <option value="{{course.id}}" {% if form.course.value == course.id %}selected{% endif %}>{{course.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                            
                        {% if section %} 
                            <div class="page-separator">
                                <div class="page-separator__text">Darslar</div>
                            </div>

                            <div class="accordion js-accordion accordion--boxed mb-24pt" id="parent">
                                {% for lesson in section.lesson.all %}
                                <div class="accordion__item" >
                                    <div style='display:flex;'>
                                    <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-{{lesson.id}}" data-parent="#parent">
                                        <span class="flex">{{lesson}}</span>
                                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                    </a> <br> <a href="{{lesson.get_update_url}}" style='margin-top:12.5px; margin-right:6px!important; color:blue; width:55px;'><i class='fa fa-pencil-alt'></i> Edit</a>
                                    </div>
                                    <div class="accordion__menu collapse" id="course-toc-{{lesson.id}}">
                                        {% for mat in lesson.materiallar.all  %}
                                        <div class="accordion__menu-link">
                                            <i class="material-icons text-70 icon-16pt icon--left">drag_handle</i>
                                            <a class="flex" href="{% if mat.item.file  %}{{mat.item.file.url}}{% else %}{{mat.item.url}}{%endif%}">
                                                {{mat.item.title}}
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                               
                            </div>

                            <a href="{{section.get_add_lesson_url}}" class="btn btn-outline-secondary mb-24pt mb-sm-0">Yangi Dars Qo'shish</a>
                        {% endif %}
                        

                        </div>
                        <div class="col-md-4">
                            <div class="page-separator" style='margin-top:10px;'></div>

                            
                            <div class="card">
                                <div class="card-header text-center">
                                    <button type='submit'  class="btn btn-accent"> 
                                    {% if section %}
                                    O'zgarishlarni saqlash
                                    {% else %}
                                    Yaratish
                                    {% endif %}
                                    </button>
                                </div>
                                {% if section %}
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item text-center" >
                                        <a href="{{section.get_delete_url}}" class="text-danger"><strong>Bo'limni O'chirish</strong></a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                    </form>
                </div>
            </div>

            {% endif %}


        <!--  START FOOTER -->
        {% include 'new/footer.html'%}
        <!--  END  FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->
         {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->

{% endblock main %}

<script>
{% block script %}

function my(f) {
    var e = document.getElementById("section-course");
    e.setAttribute('value',f);
  }
{% endblock %}
</script>