{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">O'quvchilar </h2>

                        </div>
                    </div>

                </div>
            </div>



            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0; min-height:40vh;">
                <div class="page-separator  mt-3">
                    <div class="page-separator__text">O'quvchilarim ro'yxati  </div>
                </div>
                    
                    <div class="text-center d-flex align-items-center flex-wrap mb-32pt" style="white-space: nowrap;">
                        <a href="#0" class="chip mb-16pt mb-md-0 chip-outline-secondary">Barcha o'quvchilar</a>
                        {% for course in request.user.owned_courses.all %}
                        <a href="#{{course.id}}" class="chip mb-16pt mb-md-0 chip-outline-secondary">{{course.title}}</a>
                        {% endfor %}
                    </div>


                <!-- Messages  -->
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success pl-2" role="alert">
                    {{message}}
                    </div>
                {% endfor %}
                {% endif %}
                <!-- End Messages -->

            <div id="0">
                <h4 class='text-primary-dodger-blue text-center' > Barcha o'quvchilarim ro'yxati </h4>
                <div class="card mb-lg-32pt" >
                    {% if all_students.count > 0 %}
                    <div class="table-responsive " data-toggle="lists" data-lists-sort-by="js-lists-values-from" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-order&quot;, &quot;js-lists-values-name&quot;, &quot;js-lists-values-parent&quot;, &quot;js-lists-values-tests&quot;, &quot;js-lists-values-min&quot;, &quot;js-lists-values-max&quot;, &quot;js-lists-values-percentage&quot;]">
                        <div class="card-header">
                            <div class="search-form">
                                <input type="text" class="form-control search" placeholder="O'quvchini qidirish...">
                                <button class="btn" type="button"><i class="material-icons">search</i></button>
                            </div>
                        </div>
                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                            
                            <thead>
                                <tr>
                                    <th style="width: 18px;" class="pr-0">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-order">№</a>
                                    </th>
                                    <th style="width: 170px;" class='text-center'>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">O'quvchi FISH</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-parent">Ota-Onasi Tel.</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-tests">Testlar</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-min">Min</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-max">Max</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-percentage">O'rtacha</a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="list" id="leaves">
                                
                                {% for student in all_students  %}
                                    <tr>
                                        <td class="pr-0 text-center js-lists-values-order small"> {{forloop.counter}} </td>

                                        <td class="flex d-flex flex-column" style='min-width:140px; white-space:initial;'>
                                            <a href='{{student.get_absolute_url}}#' class="mb-0 mt-0" style='font-size:17px;'><strong class="js-lists-values-name">{{student.get_full_name}}</strong></a>
                                            <small class='text-50'> {{student.phone}}</small>
                                        </td>
                                        
                                        <td class="text-center js-lists-values-parent small"> {{student.profile.parent_phone}}  </td>
                                        
                                        <td class='text-center'>
                                            <p  class="js-lists-values-tests mb-0 mt-0">{{student.test_results.count}}</small>
                                        </td>
                                        <td >
                                            <small class="js-lists-values-min ">{% if student.min %}{{student.min}}% {% else %}-{% endif %}</small>
                                        </td>
                                        <td >
                                            <small class="js-lists-values-max ">{% if student.max %}{{student.max}}% {% else %}-{% endif %}</small>
                                        </td>
                                        <td class='text-center'>
                                            <small class="pr-0 text-center js-lists-values-percentage small"> {% if student.percentage %}{{student.percentage}}% {% else %}-{% endif %}</small>
                                        </td>
                                    
                                    </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>

                    <div class="card-body bordet-top text-right text-primary-dodger-blue pt-2" style='font-size:20px;'>
                        Jami : {{all_students.count}}
                    </div> 
                    {% else %}
                    <h4 class='text-center text-info mt-2'> Hozircha birorta ham o'quvchi yo'q.</h4>
                    {% endif %}
                </div>
            </div>
           
            {% for course in request.user.owned_courses.all  %}
            <div id="{{course.id}}">
                <h4 class='text-primary-dodger-blue text-center' > <u>{{course}}</u> kursidagi o'quvchilar ro'yxati </h4>
                <div class="card mb-lg-32pt" >
                    {% if course.students.count > 0 %}
                    {% with course.students.all as all_students  %}
                    <div class="table-responsive " data-toggle="lists" data-lists-sort-by="js-lists-values-from" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-order&quot;, &quot;js-lists-values-name&quot;, &quot;js-lists-values-parent&quot;, &quot;js-lists-values-tests&quot;, &quot;js-lists-values-min&quot;, &quot;js-lists-values-max&quot;, &quot;js-lists-values-percentage&quot;]">
                        <div class="card-header">
                            <div class="search-form">
                                <input type="text" class="form-control search" placeholder="O'quvchini qidirish...">
                                <button class="btn" type="button"><i class="material-icons">search</i></button>
                            </div>
                        </div>
                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                            
                            <thead>
                                <tr>
                                    <th style="width: 18px;" class="pr-0">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-order">№</a>
                                    </th>
                                    <th style="width: 170px;" class='text-center'>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">O'quvchi FISH</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-parent">Ota-Onasi Tel.</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-tests">Testlar</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-min">Min</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-max">Max</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-percentage">O'rtacha</a>
                                    </th>
                                    <th style="width: 24px;" class="pl-0"></th>
                                </tr>
                            </thead>

                            <tbody class="list" id="leaves">
                                
                                {% for student in all_students  %}
                                    <tr>
                                        <td class="pr-0 text-center js-lists-values-order small"> {{forloop.counter}} </td>

                                        <td class="flex d-flex flex-column" style='min-width:140px; white-space:initial;'>
                                            <a href='{{student.get_absolute_url}}#' class="mb-0 mt-0" style='font-size:17px;'><strong class="js-lists-values-name">{{student.get_full_name}}</strong></a>
                                            <small class='text-50'> {{student.phone}}</small>
                                        </td>
                                        
                                        <td class="text-center js-lists-values-parent small"> {{student.profile.parent_phone}}  </td>
                                        
                                        <td class='text-center'>
                                            <p  class="js-lists-values-tests mb-0 mt-0">{{student.test_results.count}}</small>
                                        </td>
                                        <td >
                                            <small class="js-lists-values-min ">{% if student.min %}{{student.min}}% {% else %}-{% endif %}</small>
                                        </td>
                                        <td >
                                            <small class="js-lists-values-max ">{% if student.max %}{{student.max}}% {% else %}-{% endif %}</small>
                                        </td>
                                        <td class='text-center'>
                                            <small class="pr-0 text-center js-lists-values-percentage small"> {% if student.percentage %}{{student.percentage}}% {% else %}-{% endif %}</small>
                                        </td>
                                        <td class="text-right pl-0">
                                        <a href="{% url 'delete_student_from_course' slug=course.slug student_id=student.id %}" class="text-50"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>

                    <div class="card-body bordet-top text-right text-primary-dodger-blue pt-2" style='font-size:20px;'>
                        Jami : {{all_students.count}}
                    </div> 
                    {% endwith %}
                    {% else %}
                    <h4 class='text-center text-info mt-2'> Hozircha birorta ham o'quvchi yo'q.</h4>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
            
            </div>
                    
 
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!-- END FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

 {% block js_link %}

     <!-- List.js -->
    <script src="{%static 'assets/vendor/list.min.js'%}"></script>
    <script src="{%static 'assets/js/list.js'%}"></script>

    <!-- Tables -->
    <script src="{%static 'assets/js/toggle-check-all.js'%}"></script>
    <script src="{%static 'assets/js/check-selected-row.js'%}"></script>

 {% endblock js_link %}