{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Testlar&Natijalar</h2>
                        </div>
                    </div>


                </div>
            </div>





                    <div class="row card-group-row mb-lg-8pt" style='margin: 20px 20px 0 20px;' >
                        <div class=" col-md-4 card-group-row__col">
                            <div class="card card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="flex d-flex align-items-center">
                                        <div class="h2 mb-0 mr-3">{% if test.results.count > 0 %}{{test.results.first.result}}{% else %} 0 {% endif %}</div>
                                        <div class="flex">
                                            <div class="card-title">Eng yaxshi natija</div>
                                            <p class="card-subtitle text-50 d-flex align-items-center">
                                                {% if test.results.count > 0 %}{{test.results.first.percentage}}{% else %} 0 {% endif %}%
                                                <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                            </p>
                                        </div>
                                    </div>
                                    <i class="material-icons icon-32pt text-20 ml-8pt">assessment</i>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4 card-group-row__col">
                            <div class="card card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="flex d-flex align-items-center">
                                        <div class="h2 mb-0 mr-3">{{test.full}}</div>
                                        <div class="flex">
                                            <div class="card-title">100% Yechganlar</div>
                                            <p class="card-subtitle text-50 d-flex align-items-center">
                                                {{test.full_per}}%
                                                <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                            </p>
                                        </div>
                                    </div>
                                    <i class="material-icons icon-32pt text-20 ml-8pt">shopping_basket</i>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4 card-group-row__col">
                            <div class="card card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="flex d-flex align-items-center">
                                        <div class="h2 mb-0 mr-3">{{test.mean_value}}</div>
                                        <div class="flex">
                                            <div class="card-title">O'rtacha</div>
                                            <p class="card-subtitle text-50 d-flex align-items-center">
                                                {{test.percentage}}%
                                                <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                            </p>
                                        </div>
                                    </div>
                                    <i class="material-icons icon-32pt text-20 ml-8pt">perm_identity</i>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0;">
                <div class="page-separator">
                    <div class="page-separator__text"> Test Natijalari  </div>
                </div>
                    <h2 class='text-center mt-32pt'><span class='text-accent-dodger-blue'> {{test.title}} </span> testining natijalari <h2>
                <div class="card mb-32pt">

                        <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-from" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-order&quot;, &quot;js-lists-values-name&quot;, &quot;js-lists-values-result&quot;, &quot;js-lists-values-created&quot;]">
                            <div class="card-header">
                                <div class="search-form">
                                    <input type="text" class="form-control search" placeholder="O'quvchini qidirish ...">
                                    <button class="btn" type="button"><i class="material-icons">search</i></button>
                                </div>
                            </div>
                            <table class="table mb-0 thead-border-top-0 table-nowrap">
                                <thead>
                                       
                                    <tr >
                                        <th style="width: 18px;" class="pr-0"> 
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-order">№</a>
                                        </th>

                                        <th>
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">O'quvchi</a>
                                        </th>

                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-result">Natijasi</a>
                                        </th>
                                        <th style="width: 150px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-created">Vaqt/Sana</a>
                                        </th>
    
                                    </tr>

                                </thead>
                                <tbody class="list" id="leaves">

                                     {% for result  in results %}
                                    <tr style='font-size:20px;'>

                                        <td class="pr-0 text-center js-lists-values-order small">{{forloop.counter}}</td>

                                        <td>

                                            <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">

                                                <div class="media-body">


                                                    <div class="d-flex align-items-center">
                                                        <div class="flex d-flex flex-column">
                                                            <a href="{{result.student.get_absolute_url}}#" class="mb-0"><strong class="js-lists-values-name">{{result.student.get_full_name}}</strong></a>
                                                            <small class="js-lists-values-email text-50">{{result.student.phone}}</small>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <strong class="js-lists-values-result text-success mb-4pt">{{result.result}}</strong><small>/{{test.test_number}}</small>
                                        </td>
                                    
                                       <td class="text-right">
                                             <small class="js-lists-values-created text-50">{{result.created}}</small>
                                        </td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer p-3">
                        </div>
                        <!-- <div class="card-body bordet-top text-right">
  15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
</div> -->


                    </div>



            </div>
                    
 
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!--END FOOTER-->

        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

  {% block js_link %}

     <!-- List.js -->
    <script src="{%static 'assets/vendor/list.min.js'%}"></script>
    <script src="{%static 'assets/js/list.js'%}"></script>

    <!-- Tables -->
    <script src="{%static 'assets/js/toggle-check-all.js'%}"></script>
    <script src="{%static 'assets/js/check-selected-row.js'%}"></script>

 {% endblock js_link %}