{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Testlar&Natijalar</h2>

                        </div>
                    </div>

                </div>
            </div>



            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0;">
                <div class="page-separator">
                    <div class="page-separator__text">Yangi test qo'shish  </div>
                </div>
                <div class="col-md-7 p-0">
                <form method='post' action='' class='mb-4' enctype="multipart/form-data"> {% csrf_token %}
                    {% if lesson %}
                    <input type='number' value="{{lesson.id}}" name='lesson' hidden />
                    <input type='number' value="{{lesson.section.course.subject.id}}" name='subject' hidden />
                    {% else %}                            
                        <label class="form-label">Dars</label>
                        <div class="form-group mb-24pt">
                            <select name='lesson' class="form-control custom-select" id='lesson-course'  style='height:40px; font-size:14px;' >
                                <option disabled selected value> ---- Darsni tanlang ---- </option>
                                {% for item in lessons %}
                                    <option value="{{item.id}}" >{{item}}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted">Agar testni biror bir darsga biriktirishni istasangiz unda darsni tanlang. </small>
                        </div>
                        
                        <label class="form-label">Fan</label>
                        <div class="form-group mb-24pt">
                            <select name='subject' class="form-control custom-select" id='lesson-subject' style='height:40px; font-size:14px;'>
                                {% for item in request.user.profile.subject.all %}
                                    <option value="{{item.id}}" >{{item}}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted">Agar hech qanday dars tanlanmasa, unda umumiy testlarga qo'shiladi.(Fan bo'yicha) </small>
                        </div>
                    {%endif%}
                    {{form.title|as_crispy_field}}
                    <div style='display:inline-block'> {{form.test_file|as_crispy_field}}</div>
                    <div style='max-width:79px; display:inline-block'>{{form.test_number|as_crispy_field}}</div>
                   {{form.test_answer|as_crispy_field}}
                    <small class="form-text text-muted"> Javoblarni quyidagicha kiriting: ABCDAC/abcd/abAbB..</small>
                <button type='submit' class="btn btn-primary">Saqlash</button>
                </form>
                </div>
            </div>
                    
 
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!-- END FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

 