{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Testlar&Natijalar</h2>

                        </div>
                    </div>


                </div>
            </div>








                    <div class="row card-group-row mb-lg-8pt" style='margin: 20px 20px 0 20px;' >
                        <div class=" col-md-4 card-group-row__col">
                            <div class="card card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="flex d-flex align-items-center">
                                        <div class="h2 mb-0 mr-3">{% if test.results.count > 0 %}{{test.results.first.result}}{% else %} 0 {% endif %}</div>
                                        <div class="flex">
                                            <div class="card-title">Eng yaxshi natija</div>
                                            <p class="card-subtitle text-50 d-flex align-items-center">
                                                {% if test.results.count > 0 %}{{test.results.first.percentage}}{% else %} 0 {% endif %}%
                                                <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                            </p>
                                        </div>
                                    </div>
                                    <i class="material-icons icon-32pt text-20 ml-8pt">assessment</i>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4 card-group-row__col">
                            <div class="card card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="flex d-flex align-items-center">
                                        <div class="h2 mb-0 mr-3">{{test.full}}</div>
                                        <div class="flex">
                                            <div class="card-title">100% Yechganlar</div>
                                            <p class="card-subtitle text-50 d-flex align-items-center">
                                                {{test.full_per}}%
                                                <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                            </p>
                                        </div>
                                    </div>
                                    <i class="material-icons icon-32pt text-20 ml-8pt">shopping_basket</i>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-4 card-group-row__col">
                            <div class="card card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="flex d-flex align-items-center">
                                        <div class="h2 mb-0 mr-3">{{test.mean_value}}</div>
                                        <div class="flex">
                                            <div class="card-title">O'rtacha</div>
                                            <p class="card-subtitle text-50 d-flex align-items-center">
                                                {{test.percentage}}%
                                                <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                            </p>
                                        </div>
                                    </div>
                                    <i class="material-icons icon-32pt text-20 ml-8pt">perm_identity</i>
                                </div>
                            </div>
                        </div>
                    </div>


            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0;">
                <div class="page-separator">
                    <div class="page-separator__text"> Test ishlash  </div>
                </div>
                    <h2 class='text-center mt-32pt'> Test : <span class='text-accent-dodger-blue'> {{test.title}} </span>  </h2>
                <iframe
                    src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ request.META.HTTP_HOST }}{{test.test_file.url}}#toolbar=0&scrollbar=0"
                    frameBorder="0"
                    scrolling="auto"
                    height="100%"
                    width="100%"
                    style='min-height:90vh;'
                ></iframe>
                {% if result %}
                    <h2 class='text-center mb-32pt'> Sizning natijangiz: 
                       <span class='text-danger'> {{result}} </span>/{{test.test_number}} </h2>
                {% else %}
                <div class="col-md-10 offset-1 p-0 " style='font-size:34px; '>
                <form method='post' action='' class='mb-4' enctype="multipart/form-data"> {% csrf_token %}
                   <div class='row pl-0'> 
                   {% for item in range  %}
                        <div class='col-4 col-sm-3 col-md-2 p-0'>
                        <div class='row' style='max-width:90%;'>
                        
                      <div class='col-6 text-right p-0'><span class='text-right'> {{forloop.counter}}.</span> </div>
                      <div class='col-6 '><input type='text' name='test-{{forloop.counter}}' style='display: inline-block; width: 39px; height: 35px;margin-right: 15px;}'/> </span></div>
                        </div>
                        </div>
                   {% endfor %}
                   </div>
                <button type='submit' class="btn btn-primary">Tekshirish</button>
                </form>
                </div>
                {% endif %}
            </div>
                    
 
<!-- // footer            //------------ -->
   
{% include 'new/footer.html' %}
<!--END FOOTER  -->


        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

 