{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}



   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Testlar&Natijalar</h2>

                        </div>
                    </div>

                </div>
            </div>



            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0; min-height:38vh;">
                <div class="page-separator  mt-3">
                    <div class="page-separator__text">Barcha testlar ro'yxati  </div>
                </div>

                <div class="card mb-lg-32pt" >

                    {% if object_list.count > 0 %}
                    <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-from" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-order&quot;, &quot;js-lists-values-name&quot;, &quot;js-lists-values-number&quot;, &quot;js-lists-values-subject&quot;, &quot;js-lists-values-course&quot;, &quot;js-lists-values-section&quot;, &quot;js-lists-values-lesson&quot;, &quot;js-lists-values-created&quot;, &quot;js-lists-values-solved&quot;, &quot;js-lists-values-percentage&quot;]">
                        <div class="card-header">
                            <div class="search-form">
                                <input type="text" class="form-control search" placeholder="Qidirish ...">
                                <button class="btn" type="button"><i class="material-icons">search</i></button>
                            </div>
                        </div>
                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                            <thead>
                                <tr>

                                    <th style="width: 18px;" class="pr-0">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-order">№</a>
                                    </th>

                                    <th style="width: 170px;" class='text-center'>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Nomi</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-number"> Soni</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-subject">Fan</a>
                                    </th>
                                    <th style="width: 150px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-course">Kurs</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-section">Bo'lim</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-lesson">Dars</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-created">Qo'shilgan</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-solved">Yechilgan</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-percentage">O'rtacha</a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="list" id="leaves">
                            {% for test in object_list  %}
                                <tr>
                                    <td class="pr-0 text-center js-lists-values-order small"> {{forloop.counter}} </td>

                                    <td style='min-width:140px; white-space:initial;'>
                                        <a href='{{test.get_results_url}}' class="mb-0"><strong class="js-lists-values-name">{{test.title}}</strong></a>
                                    </td>
                                    
                                    <td class="text-center js-lists-values-number small"> {{test.test_number}}  </td>
                                    
                                    <td class='text-center'>
                                        <a href='{% if test.subject %}{{test.subject.get_absolute_url}}{% endif %}#' class="js-lists-values-subject ">{% if test.subject %}{{test.subject}}{% else %}-{% endif %}</small>
                                    </td>
                                    <td style='min-width:130px; white-space:initial;'>
                                        <a href="{% if test.lesson.last %}{{test.lesson.last.section.course.get_absolute_url}}{% endif %}#"class="js-lists-values-course ">{% if test.lesson.last %}{{test.lesson.last.section.course}}{% else %}-{% endif %}</a>
                                    </td>
                                    <td style='min-width:130px; white-space:initial;'>
                                        <a href="{% if test.lesson.last %}{{test.lesson.last.section.course.get_absolute_url}}{% endif %}#"class="js-lists-values-section text-50">{% if test.lesson.last %}{{test.lesson.last.section}}{% else %}-{% endif %}</a>
                                    </td>
                                    <td style='min-width:130px;  white-space:initial;'>
                                        <a href="{% if test.lesson.last %}{{test.lesson.last.get_absolute_url}}{% endif %}#"class="js-lists-values-lesson ">{% if test.lesson.last %}{{test.lesson.last}}{% else %}-{% endif %}</a>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-created text-50">{{test.created.date}}</small>
                                    </td>
                                    <td class='text-center'>
                                        <small class="js-lists-values-solved text-50">{{test.results.count}} marta</small>
                                    </td>
                                    <td class='text-center'>
                                        <small class="pr-0 text-center js-lists-values-percentage small"> {{test.percentage}}% </small>
                                    </td>
                                
                                </tr>
                            {% endfor %}
                                

                                
                                </tbody>
                        </table>
                    </div>
                    <div class="card-footer p-3">
                    </div>
                    {% else %}
                    <h4 class='text-center text-info mt-2'> Hozircha birorta ham test yo'q.</h4>
                    {% endif %}


                </div>
            </div>
                    
 
<!-- // footer            //------------ -->
{% include 'new/footer.html' %}
<!-- END FOOTER-->


        </div>
        <!-- // END drawer-layout__content -->

        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>
    {% endblock %}
    <!-- // END drawer-layout -->

 {% block js_link %}

     <!-- List.js -->
    <script src="{%static 'assets/vendor/list.min.js'%}"></script>
    <script src="{%static 'assets/js/list.js'%}"></script>

    <!-- Tables -->
    <script src="{%static 'assets/js/toggle-check-all.js'%}"></script>
    <script src="{%static 'assets/js/check-selected-row.js'%}"></script>

 {% endblock js_link %}