{% extends 'new/base.html' %} {% load static %}

{% block link %}

<!-- Sweet Alert-->
<link rel="stylesheet" href="{% static 'assets/css/sweetalert.css'%}">
{% endblock link %}

{% block main %}

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->

            {% include 'new/tutor_navbar.html' %}

            <!-- // END Header -->

            <div class="mdk-box bg-primary js-mdk-box mb-0" data-effects="blend-background">
                <div class="mdk-box__content">
                    <div class="hero py-64pt text-center text-sm-left">
                        <div class="container page__container">
                            <h1 class="text-white">{{object.title}}</h1>
                            <p class="lead text-white-50 measure-hero-lead">{{object.overview}}</p>
                            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start">
                                {% if request.user == object.owner %}
                                <a href="{{object.get_update_url}}" class="btn btn-white mb-16pt mb-sm-0 mr-sm-16pt">Kursni Tahrirlash</a>
                                {% elif request.user not in object.students.all %}
                                    <button class="btn btn-white mb-16pt mb-sm-0 mr-sm-16pt" 
                                        data-toggle="swal" 
                                        data-swal-title="Sizda bunday imkoniyat yo'q!"
                                        data-swal-text="Iltimos avval ushbu kursga yoziling!">
                                        Kursni boshlash
                                        </button>
                                {% else %}
                                <a href="{{course.get_start_url}}" class="btn btn-white mb-16pt mb-sm-0 mr-sm-16pt">Kursni boshlash</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center">
                <div class="container page__container">
                    <ul class="nav navbar-nav flex align-items-sm-center">
                        <li class="nav-item navbar-list__item">
                            <div class="media align-items-center">
                                <span class="media-left mr-16pt">
                                    <img src="{% if  course.owner.profile.img %}{{course.owner.profile.img.url}}{% else %}{% static 'assets/images/illustration/teacher/128/white.svg' %}{% endif %}" width="40" alt="avatar" class="rounded-circle">
                                </span>
                                <div class="media-body">
                                    <a class="card-title m-0" href="{{course.owner.get_absolute_url}}">{{course.owner.get_full_name}}</a>
                                    <p class="text-50 lh-1 mb-0">O'qituvchi</p>
                                </div>
                            </div>
                        </li>
 
                    </ul>
                </div>
            </div>

            <div class="page-section border-bottom-2">
                <div class="container page__container">

                    <div class="page-separator">
                        <div class="page-separator__text">Kurs mundarijasi</div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-lg-7">


                            <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
                              
                                {% for section in course.section.all   %}
                                
                                <div class="accordion__item" >
                                    <div style='display:flex;'>
                                    <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-{{section.id}}" data-parent="#parent">
                                        <span class="flex">{{section.title}}</span>
                                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                    </a> 
                                    {% if course.owner == request.user %}
                                    <a href='{{section.get_update_url}}' class='mr-auto' style='margin-top:12.5px; margin-right:6px!important; color:blue; width:55px;'><i class='fa fa-pencil-alt'></i> Edit</a>
                                    {% endif %}
                                    </div>
                                    <div class="accordion__menu collapse" id="course-toc-{{section.id}}">
                                        {% for lesson in section.lesson.all  %}
                                        <div class="accordion__menu-link">
                                            <!-- <span class="material-icons icon-16pt icon--left text-muted">lock</span> -->
                                            <span class="icon-holder icon-holder--small icon-holder--light rounded-circle d-inline-flex icon--left">
                                                {% if lesson.open %}
                                                    <i class="fa fa-book-open icon-16pt"></i>
                                                {% elif request.user in course.students.all  %}
                                                    <i class="fa fa-book-open icon-16pt"></i>
                                                {% else %}
                                                <i class="material-icons icon-16pt">lock</i>
                                                {% endif %}

                                            </span>
                                                {% if lesson.open %}
                                                    <a class="flex" href="{{lesson.get_absolute_url}}">{{lesson}}</a>
                                                {% elif request.user in course.students.all  %}
                                                    <a class="flex" href="{{lesson.get_absolute_url}}">{{lesson}}</a>
                                                {% elif request.user == course.owner  %}
                                                    <a class="flex" href="{{lesson.get_absolute_url}}">{{lesson}}</a>
                                                {% else %}
                                                    <a class="flex" href="#">{{lesson}}</a>
                                                {% endif %}
                                            {% if lesson.open %}
                                            <span class="text-muted" style='color: #26f417!important; font-family: auto; font-weight: 600;'>bepul</span>
                                            {% endif %}
                                            {% if course.owner == request.user %}
                                            <span class="text-muted ml-2"><a href="{{lesson.get_update_url}}" style='color:#6c6ccb'> <i class='fa fa-pencil-alt'></i> Edit</a></span>
                                            {% endif %}
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-lg-5 justify-content-center">

                            {% if course.owner != request.user  %}
                                {% if request.user not in course.students.all  %}
                            <div class="card">
                                <div class="card-body py-16pt text-center">
                                    <span class="icon-holder icon-holder--outline-secondary rounded-circle d-inline-flex mb-8pt">
                                        <i class="material-icons">lock_open</i>
                                    </span>
                                    <h4 class="card-title"><strong>A'zo bo'l!</strong></h4>
                                    <p class="card-subtitle text-70 mb-24pt">Ko'plab qulayliklarni qo'lga kirit!</p>
                                        <button 
                                        class="btn btn-accent mb-8pt" 
                                        data-toggle="swal" 
                                        data-swal-title="Iltimos o'qituvchi bilan bog'laning!"
                                        data-swal-text="{{course.owner.get_full_name}}. Tel: {{course.owner.phone}}. Email: {{course.owner.email}}">
                                        Kursga yozilish
                                        </button>
                                    <p class="mb-0">Haliyam ikkilanyapsanmi? <a href="#">Qo'rqma!</a></p>
                                </div>
                            </div>
                                {% endif %}
                            {% endif %}
                            {% if object.video %}
                            <div class="card" id='video-des'>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls width="100%" height="100%">

                                        <source src="{{object.video.url}}"
                                                type="video/mp4">
                                    </video>

                                </div>
                                <div class="card-body">
                                    <small class="form-text text-muted">Kurs haqida qisqa, aniq va tushunarli.</small>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section bg-white border-bottom-2">


                <div class="container page__container">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="page-separator">
                                <div class="page-separator__text">Kurs Haqida</div>
                            </div>
                            <p class="text-70">{{object.about}}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="page-section bg-white border-bottom-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mb-24pt mb-md-0">
                            <h4>O'qituvchi</h4>
                            <p class="text-70 mb-24pt">{{object.owner.profile.about}}</p>


                            
                            {% if object.owner.owned_courses.count > 1 %}
                            <div class="page-separator">
                                <div class="page-separator__text bg-white">O'qituvchininh boshqa kurslari</div>
                            </div>

                            <div class="list-group list-group-flush">
                                {% for course in object.owner.owned_courses.all  %}
                                <div class="list-group-item px-0">
                                    <a href="{{course.get_absolute_url}}" class="card-title mb-4pt">{{course.title}}</a>
                                    <p class="lh-1 mb-0">
                                        <small class="text-muted">{{course.created}}</small>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-5 pt-sm-32pt pt-md-0 d-flex flex-column align-items-center justify-content-start">
                            <div class="text-center">
                                <p class="mb-16pt">
                                    <img src="{% if  course.owner.profile.img %}{{course.owner.profile.img.url}}{% else %}{% static 'assets/images/illustration/teacher/128/white.svg' %}{% endif %}" alt="guy-6" class="rounded-circle" width="64">
                                </p>
                                <h4 class="m-0">{{course.owner.get_full_name}}</h4>
                                <p class="lh-1">
                                    <small class="text-muted">
                                    {%for sub in course.owner.profile.subject.all %}
                                     {% if forloop.counter != 1 %} , {% endif %} {{sub.title}}  
                                    {% endfor %}
                                    </small>
                                </p>
                                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start" >
                                    <a href="{{course.owner.get_absolute_url}}" style='margin:auto;' class="btn btn-outline-primary">Profilini Ko'rish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           

        <!--   FOOTER START  -->
        {% include 'new/footer.html' %}
        <!--   FOOTER END    -->

        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->
        {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->


{% endblock main %}

{% block js_link %}

<!-- Global Settings -->
<script src="{%static 'assets/js/settings.js'%}"></script>

<!-- Sweet Alert -->
<script src="{% static 'assets/vendor/sweetalert.min.js'%}"></script>
<script src="{%static 'assets/js/sweetalert.js'%}"></script>


{% endblock js_link %}