{% load static %}
            <!-- Header -->

            {% if request.user.is_authenticated %}

                {% if request.user.is_tutor %}
                <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
                    <!-- Navbar toggler -->
                    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
                        <span class="material-icons">short_text</span>
                    </button>


                    <span class="d-none d-md-flex align-items-center mr-16pt">

                        <span class="avatar avatar-sm mr-12pt">

                            <span class="avatar-title rounded navbar-avatar" style='font-size:20px;'><i class="fa fa-user-tie "></i></span>

                        </span>

                        <small class="flex d-flex flex-column">
                            <strong class="navbar-text-100">O'quvchilarim</strong>
                            <span class="navbar-text-50">{{request.user.my_students}}</span>
                        </small>
                    </span>





                    <div class="flex"></div>

                    <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">


                        <!-- Notifications dropdown -->
                        <div class="nav-item " data-toggle="tooltip" data-title="Bosh sahifa">
                            <a href="{%url 'home'%}" class="nav-link btn-flush " >
                                <i class="fa fa-home icon-24pt"></i>
                            </a>
                        </div>
                        <!-- // END Notifications dropdown -->


                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false">

                                <span class="avatar avatar-sm mr-8pt2">

                                    <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                </span>

                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header"><strong>Mening akkauntim</strong></div>
                                <a class="dropdown-item" href=""{% url 'profile_update'%}"">Ma'lumotlarni o'zgartirish</a>
                                <a class="dropdown-item" href="{% url 'logout'%}">Chiqish</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                
                <div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
                    <!-- Navbar toggler -->
                    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
                        <span class="material-icons">short_text</span>
                    </button>

                    <span class="d-none d-md-flex align-items-center mr-16pt">

                        <span class="avatar avatar-sm mr-12pt">

                            <span class="avatar-title rounded navbar-avatar"><i class="material-icons">trending_up</i></span>

                        </span>

                        <small class="flex d-flex flex-column">
                            <strong class="navbar-text-100">Reyting</strong>
                            <span class="navbar-text-50">
                            {% if request.user.test_results.count > 0 %}
                            {{request.user.test_results.first.rating}}
                            {% else %}
                             <b style='font-size:15px;'>&infin;</b>
                            {% endif %}
                            
                            </span>
                        </small>
                    </span>


                    <div class="flex"></div>

                    <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                         <!-- Notifications dropdown -->
                        <div class="nav-item " data-toggle="tooltip" data-title="Bosh sahifa">
                            <a href="{%url 'home'%}" class="nav-link btn-flush " >
                                <i class="fa fa-home icon-24pt"></i>
                            </a>
                        </div>
                        <!-- // END Notifications dropdown -->


                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false">

                                <span class="avatar avatar-sm mr-8pt2">

                                    <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                </span>

                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header"><strong> Mening akkauntim</strong></div>
                                <a class="dropdown-item" href="{% url 'profile_update'%}">Ma'lumotlarni o'zgartirish</a>
                                <a class="dropdown-item" href="{% url 'logout'%}">Chiqish</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endif %}
          
            {% else %}
              <div class="navbar navbar-expand navbar-dark-dodger-blue navbar-shadow" id="default-navbar" data-primary>

                    <!-- Navbar Brand -->
                    <a href="{%url 'home'%}" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt" style='width: 5rem; height: 3.8rem;'>

                            <span class="avatar-title rounded bg-white"><img
                                    src="{% static 'assets/images/logo/virtualmaktab.png' %}" alt="logo"
                                    class="img-fluid" /></span>

                        </span>
                    </a>

                    <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                        <li class="nav-item">
                            <a href="{% url 'home'%}" class="nav-link">Bosh sahifa</a>
                        </li>
                        
                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Kurslar</a>
                            
                            <div class="dropdown-menu">
                                <a href="{% url 'all_courses'%}" class="dropdown-item">Barcha Kurslar</a>
                                <hr class='m-0'>
                                {% for subject in get_all_subjects %}
                                    <a href="{{subject.get_absolute_url}}" class="dropdown-item">{{subject.title}}</a>
                                {% endfor %}
                                
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="{%url 'blog'%}" class="nav-link">Yangiliklar & Blog</a>
                        </li>

                        <li class="nav-item">
                            <a href="{%url 'about_us'%}" class="nav-link">Biz haqda</a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav ml-auto mr-0">
                        <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a href="{%url 'logout'%}" class="nav-link " data-toggle="tooltip" data-title="Chiqish" ata-placement="bottom" data-boundary="window" data-original-title="" title="">
                                <i class="material-icons" style="color:inherit;">
                                    lock_open
                                </i>
                            </a>
                        {% else %}
                            <span class="nav-link" >
                                <i class="material-icons">
                                    lock
                                </i>
                            </span>
                        {% endif %}
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login'%}" class="btn btn-outline-white">Kirish</a>
                        </li>
                    </ul>
                </div>

         
            {% endif %}


            <!-- // END Header -->
