{% extends 'new/base.html' %} {% load static %}{% load course %}


{% block main %}

     <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">
                        {% if not empty %}
                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">
                            {% if lesson %}
                            Darsni Tahrirlash
                            {% else %}
                            Dars Qo'shish
                            {% endif %}
                            </h2>
                        </div>
                        {% endif %}
                    </div>


                </div>
            </div>



            <div class="page-section border-bottom-2">
                <div class="container page__container">
                
                {% if empty %}
                    
                <div style='min-height:33vh; max-width:500px;' class='m-auto text-center'>
                <h4 class='text-center text-info m-5 '> Sizda hech qanday kurs mavjud emas. Yoki kurslaringizda bo'limlar yo'q. Iltimos avval kurs, yoki mavjud kurslaringizga bo'limlar qo'shing.</h4>
                <div class='text-center mb-5'>
                    <a href="{%url 'course_create'%}" class='btn btn-accent-yellow'>Kurs Qo'shish </a>
                    <a href="{%url 'section_create_optional'%}" class='btn btn-accent-yellow'>Bo'lim Qo'shish </a>
                </div>
  
                </div>


                {% else %}
                
                <form action='' method='post' enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">

                            <div class="page-separator">
                                <div class="page-separator__text">Asosiy ma'lumotlar</div>
                            </div>

                            <label class="form-label">Dars nomi</label>
                            <div class="form-group mb-24pt">
                                <input type="text" name="title" class="form-control form-control-lg" placeholder="Dars nomini kiriting..." value="{% if form.title.value %}{{form.title.value}}{% endif %}">
                            </div>
                           
                            {% if lesson %}
                                <label class="form-label">Bo'lim</label>
                                <div class="form-group mb-24pt">
                                    <select name="section" class="form-control custom-select" id='lesson-section' style='height:52px; font-size:19px;'>
                                        {% for item in sections %}
                                            <option value="{{item.id}}" {% if form.section.value == item.id %}selected{% endif %}>{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {%elif section %}
                            <input name="section" value="{{section.id}}" hidden>
                            {% else %}
                                <label class="form-label">Kurs</label>
                                <div class="form-group mb-24pt">
                                    <select class="form-control custom-select" id='lesson-course' style='height:52px; font-size:19px;'>
                                        <option > ---- Kursni tanlang ---- </option>
                                        {% for item in courses %}
                                            <option value="{{item.id}}" >{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <label class="form-label">Bo'lim</label>
                                <div class="form-group mb-24pt">
                                    <select name='section' class="form-control custom-select" id='lesson-course-optional' style='height:52px; font-size:19px;{% if form.section.errors %} border-color:red;{% endif %}'>
                                        
                                    </select>
                                    {% if form.section.errors %}
                                    <small class="form-text text-danger">Dars qo'shilishi kerak bo'lgan bo'limni tanlang.</small>
                                    {% endif %}
                                </div>

                            {% endif %}

                            <div class="form-group mb-32pt">
                                <label class="form-label">Ma'ruza</label>
                                <!--  -->
                                <textarea name='lecture' class="form-control" id='lecture' rows="5" placeholder="Dars ma'ruzasi agar mavjud bo'lsa (pdf shaklida yuklash ham mumkin)" ></textarea>
                            </div>

                        {% if lesson %}
                            <div class="page-separator">
                                <div class="page-separator__text">Materiallar</div>
                            </div>
                            {% if lesson.materiallar.count > 0 %}
                                {% for content in lesson.materiallar.all  %}
                                    <div class="card posts-card posts-card--wrap-xl">
                                        <div class="posts-card__content d-flex align-items-center flex-wrap">
                                        
                                            <div class="form-group"  style="width: 100%">
                                                <label class="form-label" for="exampleInputEmail1">Fayl nomi: </label>
                                                <input type="text" class="form-control" name="{{content.content_type}}-{{content.id}}" id="exampleInputEmail1" placeholder="Enter your email address .." value='{{content}}'>
                                            </div>
                                            
                                            <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
                                                <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
                                                <a href='{{content.item.file.url}}' class="text-info"> <i class="material-icons  mr-1">folder_open</i> Ko'rish</a>
                                                </div>
                                                <div class="mr-3 text-50 posts-card__date">
                                                    <small>{{content.item.created}}</small>
                                                </div>
                                                <div class="media ml-sm-auto align-items-center">
                                                    <div class="media-left mr-2 ">
                                                        <a href='{{content.get_delete_url}}' class="text-danger" style='font-size: 16px;'>O'chirish</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            {% else %}
                                <h5 style='color: cadetblue;'> Hozircha hechqanday materiallar mavjud emas.</h5>
                            {% endif %}

                            <div class="page-separator">
                                <div class="page-separator__text">Testlar</div>
                            </div>
                            {% if lesson.tests.count > 0 %}
                                {% for test in lesson.tests.all  %}
                                    <div class="card posts-card posts-card--wrap-xl">
                                        <div class="posts-card__content d-flex align-items-center flex-wrap">
                                        
                                            <div class="form-group"  style="width: 100%">
                                                <label class="form-label" for="test{{test.id}}">Test nomi: </label>
                                                <input type="text" class="form-control" name="test-{{test.id}}" id="test{{test.id}}" placeholder="Test nomini kiriting .." value='{{test.title}}'>
                                            </div>
                                            
                                            <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
                                                <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
                                                <a href='{{test.test_file.url}}' class="text-info"> <i class="material-icons  mr-1">folder_open</i> Ko'rish</a>
                                                </div>
                                                <div class="mr-3 text-50 posts-card__date">
                                                    <small>{{test.created}}</small>
                                                </div>
                                                <div class="media ml-sm-auto align-items-center">
                                                    <div class="media-left mr-2 ">
                                                        <a href='{{test.get_delete_url}}' class="text-danger" style='font-size: 16px;'>O'chirish</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                {% else %}
                                <h5 style='color: cadetblue;'> Hozircha birorta ham test mavjud emas.</h5>
                            {% endif %}

                            <a href="{%url 'content_create' lesson=lesson.slug model_name='file'%}" class="btn btn-outline-secondary mb-24pt mb-sm-0">Fayl Qo'shish</a>
                            <a href="{%url 'content_create' lesson=lesson.slug model_name='video'%}" class="btn btn-outline-secondary mb-24pt mb-sm-0">Video Qo'shish</a>
                            <a href="{{lesson.get_add_test_url}}" class="btn btn-outline-secondary mb-24pt mb-sm-0">Test Qo'shish</a>
                        {% endif %}

                        </div>
                        
                        <div class="col-md-4">

                            <div class="card">
                                <div class="card-header text-center">
                                    <button type='submit' class="btn btn-accent">Saqlash</button>
                                </div>
                                {% if lesson %}
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item text-center">
                                        <a href="{{lesson.get_delete_url}}" class="text-danger"><strong>Darsni O'chirish</strong></a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                            <div class="page-separator">
                                <div class="page-separator__text">Video</div>
                            </div>

                            <div class="card">
                                {% if form.video.value %}                                
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls width="100%" height="100%">

                                        <source src="{{form.video.url}}"
                                                type="video/mp4">
                                    </video>

                                </div>
                                {% endif %}

                                <div class="card-body" style="padding-left:6px; padding-right:6px;" >
                                    <div class="media align-items-center">
                                    <div class="media-body" style='overflow:hidden;'>
                                        <div class="custom-file">
                                            <input name='video' id='videofile' type='file' value="{% if form.video.value %} {{form.video.value}}{% endif %}" />
                                            <label class="custom-file-label" for="videofile" id='videofilelabel'>
                                            {% if form.video.value %}
                                            Videoni o'zgartirish
                                            {% else %}
                                            Video tanlash
                                            {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                    <small class="form-text text-muted">Dars videosini yuklang.</small>
                                    {% if form.video.errors %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        Iltimos qayta urining yoki boshqa video kiriting.
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div id='box'></div>
                            
            
                        </div>
                    </div>

                </form>
                {% endif %}
                </div>
            </div>


        <!--   START  FOOTER -->
        {% include 'new/footer.html' %}
        <!--   END FOOTER   -->

        </div>
        <!-- // END drawer-layout__content -->


        <!-- drawer -->
        {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->
{% endblock %}

<script>
{% block script %}

var lecture="{{form.lecture.value}}"

if(lecture!='None'){
document.getElementById("lecture").innerHTML = lecture;}


$("#lesson-course").change(function () {
    var course_id=$(this).val();
    var select_sec=$('#lesson-section-optional')  

        $.ajax({
        url: "{% url 'get_course_sections'%}",
        data: {
          'course': course_id
        },
        dataType: 'json',
        success: function (data) {
            $('#lesson-course-optional').html("")
            $.each(data, function(i, item) {
                   $('#lesson-course-optional').append("<option value='"+data[i].id+"'>"+data[i].title+"</option>")
                });
          },
        error: function(request, status, error){
            console.log(error)
        }
        })
      });



document.getElementById('videofile').onchange = function () {
  var fileName=this.files.item(0).name;
  document.getElementById('videofilelabel').innerHTML = fileName;
}; 



{% endblock script %}
</script>