{% extends 'new/base.html' %} {% load static %} {% load crispy_forms_tags %}


    {% block link %}
    <!-- Select2 -->
    <link type="text/css" href="{% static 'assets/css/select2.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'assets/vendor/select2/select2.min.css' %}" rel="stylesheet">
    {% endblock link %}


   {% block main %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-2">Ma'lumotlarimni o'zgartirish</h2>

                        </div>
                    </div>


                </div>
            </div>


            <div class="page-section container page__container" style="padding-bottom: 0; padding-top: 0;">
                <div class="page-separator">
                    <div class="page-separator__text">Profil {% if request.user.is_tutor %}&amp; Fan{% endif %}</div>
                </div>
                <div class="col-md-6 p-0">
                {% for message in messages %}
                <div class="alert {% if 'error' in message.tags   %}alert-danger {%else%} alert-success{% endif %} " role="alert">
                    {{message}}
                </div>
                {% endfor %}



                <form method='post' action='.' enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label">Sizning Rasmingiz</label>
                        <div class="media align-items-center">
                            <div class="media-body">
                                <div class="custom-file">
                                    <input name='img' id='file' type='file' value="{% if profile_form.img.value %} {{profile_form.img.value}}{% endif %} "/>
                                    <label class="custom-file-label" for="file" id='filelabel'>
                                    {% if profile_form.img.value %}
                                     {{profile_form.img.value}}
                                    {% else %}
                                    Rasm tanlang
                                    {% endif %}
                                    </label>
                                    {% if profile_form.img.errors %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        Iltimos profil uchun rasm kiriting.
                                    </div>
                                    {% endif %}
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Pochta manzili</label>
                        <input type='email' id="email" name='email' value="{% if user_form.email.value %}{{user_form.email.value}}{% endif %}" class="form-control " placeholder='Pochtangizni kiriting..'>
                        <small class="form-text text-muted">Yangiliklar, e'lon va bildirishnomalarni yuborish uchun foydalaniladi.</small>
                    </div>

                    {% if request.user.is_tutor %}
                    <div class="form-group">
                        <label class="form-label" for="select03">Fan</label>
                        <select id="select03" data-toggle="select" multiple class="form-control" name='subject' >
                            {% for sub in subjects %}
                            
                            <option value={{sub.id}} {% if sub in request.user.profile.subject.all %}selected{% endif %}>
                            
                            {{sub}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
            </div>
                    
                    
<!-- // PAGE SEPARETOR            //------------ -->
                   
            <div class="container page__container page-section" style="padding-bottom: 0;">
                <div class="page-separator">
                    <div class="page-separator__text">Asosiy Ma'lumotlar</div>
                </div>
                <div class="col-md-6 p-0">
                    
                        <div class="form-group">
                            <label class="form-label">Ism</label>
                            {{ user_form.first_name|as_crispy_field }}
                            </div>
                        <div class="form-group">
                            <label class="form-label">Sharif (Otangizning ismi)</label>
                            {{ profile_form.second_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Familiya</label>
                            {{ user_form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Telefon Raqami</label>
                            <input type='tel' id="phone" name='phone'value="{% if user_form.phone.value %}{{user_form.phone.value}}{% endif %}" required class="form-control " placeholder='Telefon raqamingizni kiriting..' {% if user_form.phone.errors %}style='border-color:red;'{% endif %}/>
                            <small class="form-text text-muted">Raqamingiz barcha uchun ochiq bo'ladi.</small>
                            {% if user_form.phone.errors  %}
                            <div class="alert alert-danger" role="alert">
                             Iltimos tel raqamini +998907654321 ko'rinishida kiriting!
                            </div>
                            {% endif %}
                       </div>
                        {% if not request.user.is_tutor %}
                        <div class="form-group">
                            <label class="form-label">Ota-Onangiz Telefon Raqami</label>
                            <input type='tel' id="parent_phone" name='parent_phone' value="{% if profile_form.parent_phone.value %}{{profile_form.parent_phone.value}}{% endif %}" required class="form-control " placeholder='Ota-onangizning tel raqamini kiriting..' {% if profile_form.parent_phone.errors %}style='border-color:red;'{% endif %}/>
                            <small class="form-text text-muted">Siz haqda ota-onangizga ma'lumot berish uchun ishlatiladi.</small>
                            {% if profile_form.parent_phone.errors  %}
                            <div class="alert alert-danger" role="alert">
                             Iltimos tel raqamini +998907654321 ko'rinishida kiriting!
                            </div>
                            {% endif %}
                        
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="form-label">O'zingiz haqida</label>
                            {{ profile_form.about|as_crispy_field }}
                        </div>
                    
                </div>
            </div>
            
            
            
            <div class="container page__container page-section">
                <div class="page-separator">
                    <div class="page-separator__text">Manzil</div>
                </div>
                <div class="col-md-6 p-0">
                    
                         <div class="form-group">
                            <label class="form-label" >Viloyat </label>
                            {{ profile_form.city|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="region">Tuman</label>
                            <input type='text' id="region" name='region' value="{% if profile_form.region.value %}{{profile_form.region.value}}{% endif %}" required class="form-control " placeholder='Tuman nomini kiriting..'>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ko'cha nomi, uy raqami</label>
                            <input type="text" class="form-control" name='street' value="{% if profile_form.street.value %}{{profile_form.street.value}}{% endif %}" placeholder="Ko'changiz nomi, uy raqamingiz ...">
                        </div>
                        
                        <button type='submit' class="btn btn-primary">Saqlash</button>
                    </form>
                </div>
            </div>
                    
            <!--
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            -->

        <!--START   FOOTER -->
        {% include 'new/footer.html' %}
        <!--  END FOOTER  -->

        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->

       
                    {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->

    </div>



    {% endblock %}
    <!-- // END drawer-layout -->

    {% block js_link %}
        <!-- Select2 -->
        <script src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
        <script src="{% static 'assets/js/select2.js' %}"></script>


    {% endblock js_link %}

{% block script %}

document.getElementById('file').onchange = function () {
  var fileName=this.files.item(0).name;
  document.getElementById('filelabel').innerHTML = fileName;
};

{% endblock script %}