{% extends 'new/base.html' %} {% load static %}



{% block link %}

    <!-- Quill Theme -->
    <link type="text/css" href="{% static 'assets/css/quill.css' %}" rel="stylesheet">

    <!-- Select2 -->
    <link type="text/css" href="{% static 'assets/css/select2.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'assets/vendor/select2/select2.min.css' %}" rel="stylesheet">
{% endblock link %}

{% block main %}

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
            {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->



            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">
                            {% if object %}
                            Kursni tahrirlash
                            {% else %}
                            Yangi kurs qo'shish
                            {% endif %}
                            </h2>
                        </div>
                    </div>


                </div>
            </div>

            <div class="page-section border-bottom-2">
                <div class="container page__container">
                    <form method='post' action='.'  enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">

                            <div class="page-separator">
                                <div class="page-separator__text">Asosiy ma'lumotlar</div>
                            </div>
                            {% for mes in messages  %}
                            <div class="alert alert-danger " role="alert">
                            {{mes}}</div>
                            {% endfor %}
                             <label class="form-label">Kurs nomi</label>
                            <div class="form-group mb-24pt">
                                <input type="text" name='title' class="form-control form-control" placeholder="Kurs nomini kiriting..." value="{% if form.title.value %}{{form.title.value}}{% endif %}">
                                <small class="form-text text-muted">Qisqa va tushunarli bo'lishi lozim</a></small>
                            </div>

                            <div class="form-group mb-32pt">

                            <label class="form-label">Kurs banneri </label>
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <div class="custom-file">
                                        <input name='banner' id='file' type='file' value="{% if form.banner.value %} {{form.banner.value}}{% endif %} "/>
                                    <label class="custom-file-label" for="file" id='filelabel'>
                                    {% if form.banner.value %}
                                     {{form.banner.value}}
                                    {% else %}
                                    Rasm tanlash
                                    {% endif %}
                                    </label>
                                    {% if form.banner.errors %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        Iltimos kurs uchun banner kiriting.
                                    </div>
                                    {% endif %}</label>
                                    </div>
                                </div>
                            </div>
                            <small class="form-text text-muted">Kurs mazmuniga mos banner tanlang.</small>
                            </div>

                            <div class="form-group mb-32pt">
                                <label class="form-label">Qisqa sharh</label>
                                 <!-- <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Course description">  -->
                                    <textarea name='overview'  class="form-control" rows="5" placeholder="Kurs haqida qisqacha" id='overview' ></textarea>
                                <!--</div> -->
                                    
                                <small class="form-text text-muted">Kurs haqidagi qisqa tushuntirish.</small>
                            </div> 

                            <div class="form-group mb-32pt">
                                <label class="form-label">Kurs haqida </label>
                                <textarea name='about' required class="form-control" rows="8" placeholder="Kurs haqida batafsil" id='about' ></textarea>
                                {% if form.about.errors %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        Iltimos kurs haqida ma'lumit kiriting.
                                    </div>
                                {% endif %} 
                                <small class="form-text text-muted">Kurs haqidagi batafsil ma'lumot.</small>
                            </div>

                        </div>
                        <div class="col-md-4">

                            

                            <div class="page-separator">
                                <div class="page-separator__text">Video</div>
                            </div>

                            <div class="card">
                                {% if form.video.value %}                                
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls width="100%" height="100%">

                                        <source src="{{object.video.url}}"
                                                type="video/mp4">
                                    </video>

                                </div>
                                {% endif %}

                                <div class="card-body" style="padding-left:6px; padding-right:6px;" >
                                    <div class="media align-items-center">
                                    <div class="media-body" style='overflow:hidden;'>
                                        <div class="custom-file">
                                        <input name='video' id='videofile' type='file' value="{% if form.video.value %} {{form.video.value}}{% endif %} "/>
                                        <label class="custom-file-label" for="videofile" id='videofilelabel'>
                                        {% if form.video.value %}
                                        Videoni o'zgartirish
                                        {% else %}
                                        Video tanlash
                                        {% endif %}
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                    <small class="form-text text-muted">Kurs haqidagi qisqa video.</small>
                                    {% if form.video.errors %}
                                    <div class="alert alert-danger mt-3" role="alert">
                                        Iltimos to'g'ri link kiriting. M: youtube.com/sadwqr
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>

                            <div class="page-separator">
                                <div class="page-separator__text">Kategoriya</div>
                            </div>

                            <div class="card">
                                <div class="card-body">

                                    <div class="form-group">
                                        <label class="form-label">Fan</label>
                                        <select name="subject" class="form-control custom-select" id='course-subject' {% if form.video.errors %} style='border-color:red;' {% endif %}>
                                            {% for sub in subjects %}
                                            <option value="{{sub.id}}" {% if form.subject.value == sub.id %}selected{% endif %}>{{sub}}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted">Fanni tanlang.</small>
                                    </div>

                                </div>
                            </div>
                            
 
                            <div class="page-separator">
                            </div>

                            <div class="card">
                                <div class="card-header text-center">
                                    <button type'submit' href="#" class="btn btn-accent" >Saqlash</button>
                                </div>
                                {% if object %}
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item text-center">
                                        <a href="{{object.get_delete_url}}" class="text-danger "><strong>Kursni O'chirish</strong></a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                        </div>
    
                    </div>
                    {% if object %}
                    <div class='row'>
                        <div class='col-md-8'>

                            <div class="page-separator">
                                <div class="page-separator__text">Bo'limlar</div>
                            </div>

                            <div class="accordion js-accordion accordion--boxed mb-24pt" id="parent">
                                {% if object.section.count > 0 %}
                                    {% for section in object.section.all  %}
                                        <div class="accordion__item" >
                                            <div style='display:flex;'>
                                            <a href="#" class="accordion__toggle collapsed" data-toggle="collapse" data-target="#course-toc-{{section.id}}" data-parent="#parent">
                                                <span class="flex">{{section.title}}</span>
                                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                            </a> 
                                            <a href='{{section.get_update_url}}' class='mr-auto' style='margin-top:12.5px; margin-right:6px!important; color:blue; width:55px;'><i class='fa fa-pencil-alt'></i> Edit</a>
                                            </div>
                                            <div class="accordion__menu collapse" id="course-toc-{{section.id}}">
                                                {% for lesson in section.lesson.all  %}
                                                <div class="accordion__menu-link">
                                                    <!-- <span class="material-icons icon-16pt icon--left text-muted">lock</span> -->
                                                    <span class="icon-holder icon-holder--small icon-holder--light rounded-circle d-inline-flex icon--left">
                                                        <i class="material-icons icon-16pt">lock</i>
                                                    </span>
                                                    <a class="flex" href="{% if request.user.is_authenticated %}{{lesson.get_absolute_url}}{% endif %}">{{lesson}}</a>
                                                    <span class="text-muted"><a href="{{lesson.get_update_url}}" style='color:#6c6ccb'> <i class='fa fa-pencil-alt'></i> Edit</a></span>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h5 style='color: cadetblue;'> Hozircha hech qanday Bo'lim mavjud emas.</h5>
                                {% endif %}   
                            </div>

                            <a href="{{object.get_add_section_url}}" class="btn btn-outline-secondary mb-24pt mb-sm-0" style="margin-right: 10px; ">Yangi Bo'lim qo'shish</a>
                        </div>
                        <div class='col-md-4'>

                                <div class="page-separator">
                                    <div class="page-separator__text">Hozirgi o'quvchilar</div>
                                </div>
                                
                                <div class="card">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item d-flex">
                                            <a href="{{object.get_student_list_url}}" class="text-danger flex"><strong>Barcha o'quvchilar</strong> </a>
                                            <span class='text-danger'>{% if course.students.all %}{{course.students.count}}{% else %}0 {% endif %} </span>
                                        </div>
                                    </div>
                                    <div class="card-header text-center">
                                        <a href="{{object.get_add_student_url}}" class="btn btn-outline-secondary">O'quvchi qo'shish</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                    {% endif %}
                    </form>
                </div>
            </div>


        <!--   START    FOOTER      -->
        
            {% include 'new/footer.html' %}

        <!--   END    FOOTER      -->


        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->

        {% include 'new/tutor_sidebar.html' %}

        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->
{% endblock main %}

{% block js_link %}


{% endblock js_link %}

<script>
{% block script %}

var overview="{{form.overview.value}}"
var about="{{form.about.value}}"

if(overview!='None'){
document.getElementById("overview").innerHTML = overview;}

if(about!='None'){
document.getElementById("about").innerHTML = about;} 


document.getElementById('file').onchange = function () {
  var fileName=this.files.item(0).name;
  document.getElementById('filelabel').innerHTML = fileName;
};

document.getElementById('videofile').onchange = function () {
  var fileName=this.files.item(0).name;
  document.getElementById('videofilelabel').innerHTML = fileName;
};

{% endblock script %}
</script>