{% load static %}

{% if request.user.is_authenticated %}
     
    <!-- drawer -->
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-dark-dodger-blue sidebar-left" data-perfect-scrollbar>


                <div class="navbar-height m-0 pb-0 pt-2 pb-2" style='min-height:0; background-color: #5567ff; padding:0!important;'> 
                    <p class="text-70 brand mb-0" ">
                        <img class="brand-icon" src="/static/assets/images/logo/virtualmaktab.png" width="64" alt="VirtualMaktab" style='background-color:white;'> VirtualMaktab
                    </p>
                </div>

                <a href="{{request.user.get_absolute_url}}" class="sidebar-brand pt-32pt">

                    
                    <span class="avatar avatar-xl sidebar-brand-icon h-auto">
                        <span class="avatar-title rounded bg-primary">
                            {% if  request.user.profile.img %}
                                <img src="{{request.user.profile.img.url}}" class="img-fluid" alt="logo" /></span>
                            {% else %}
                                <img class="sidebar-brand-icon" src="{% static 'assets/images/illustration/student/128/white.svg'%}" alt="image">
                            {% endif %}
                        </span>
                    </span>
                    <span>{{request.user.get_full_name}}</span>
                    
                </a>


                {% if request.user.is_tutor %}
  

                        {% if course %}
                            {% if course.owner == request.user %}
                        <ul class="sidebar-menu">
                            <div class="sidebar-heading">{{course.title}}</div>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#sections">
                                    <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                    Bo'limlar
                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse sm-indent" id="sections">

                                    {% for section in course.section.all  %}
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button" href="{{section.get_update_url}}">

                                                <span class="sidebar-menu-text">{{forloop.counter}}. {{section.title}}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                
                                </ul>
                            </li>
                        </ul>                       
                            {% endif %}
                        {% elif section %}
                            {% if section.course.owner == request.user %}
                        <ul class="sidebar-menu">
                        <div class="sidebar-heading">{{section.course.title}}</div>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#sections">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                Bo'limlar
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="sections">

                                {% for section in section.course.section.all  %}
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="{{section.get_update_url}}">

                                            <span class="sidebar-menu-text">{{forloop.counter}}. {{section.title}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            
                            </ul>
                        </li>  
                        </ul>
                            {% endif %}
                        {% elif lesson %}
                            {% if lesson.section.course.owner == request.user %}
                        <ul class="sidebar-menu">
                        <div class="sidebar-heading">{{lesson.section.course.title}}</div>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#sections">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                Bo'limlar
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="sections">

                                {% for section in lesson.section.course.section.all  %}
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="{{section.get_update_url}}">

                                            <span class="sidebar-menu-text">{{forloop.counter}}. {{section.title}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            
                            </ul>
                        </li> 
                        </ul>
                            {% endif %}
                        {% endif %}
                    

                    <ul class="sidebar-menu">
                        <div class="sidebar-heading">Yordamchi Menu</div>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#student_menu">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                 Kurslarim
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="student_menu">

                                {% for course in request.user.owned_courses.all  %}
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="{{course.get_absolute_url}}">

                                            <span class="sidebar-menu-text">{{forloop.counter}}. {{course.title}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            
                            </ul>
                        </li>

                        <li class="sidebar-menu-item">
                        <a href="{%url 'manage_course_list' %}" class="sidebar-menu-button " >
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder'></i></span>
                                 Barcha Kurslarim
                        </a>
                        </li>
                        
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"  href="{%url 'mystudents'%}">
                                <span class="sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-user-graduate'></i></span>
                                O'quvchilarim
                            </a>
                        </li>
                        
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{% url 'test_list'%}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-list-ol'></i></span>
                                Test & Natijalar
                            </a>
                        </li>             
                        
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{%url 'section_create_optional' %}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-poll-h'></i></span>
                                Yangi Bo'lim Qo'shish
                            </a>
                        </li>
                        
                        <li class="sidebar-menu-item ">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{%url 'lesson_create_optional'%}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-pen-square'></i></span>
                                Yangi Dars Qo'shish
                            </a>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{%url 'test_create'  %}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-file-import'></i></span>
                                Yangi Test Qo'shish
                            </a>
                        </li>
                        
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{% url 'add_student' %}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-user-plus'></i></span>
                                Yangi O'quvchi Qo'shish
                            </a>
                        </li> 

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{{request.user.get_absolute_url}}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-id-card'></i> </span>
                                Mening Profilim
                            </a>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{% url 'tutor_dashboard' %}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left" ><i class='fa fa-user-edit'></i></span>
                                Profilni o'zgartirish
                            </a>
                        </li>
                        
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{%url 'course_create'%}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-plus'></i></span>
                                Yangi Kurs Yaratish
                            </a>
                        </li>
                        
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{%url 'post_create'%}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-feather-alt'></i></span>
                                Yangi Post Yozish
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                    
                    
                    
                    {% else %}
                    {% if lesson %}
                        <ul class="sidebar-menu">
                        <div class="sidebar-heading">{{lesson.section.course.title}}</div>
                        {% for section in lesson.section.course.section.all  %}
                        <li class="sidebar-menu-item {% if lesson.section == section %} active open{% endif %}">
                            <a class="sidebar-menu-button js-sidebar-collapse " data-toggle="collapse" href="#sections{{section.id}}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                {{section}}
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent " id="sections{{section.id}}">

                                {% for les in section.lesson.all  %}
                                    <li class="sidebar-menu-item {% if lesson == les %} active open{% endif %}">
                                        <a class="sidebar-menu-button" href="{{les.get_absolute_url}}">

                                            <span class="sidebar-menu-text">{{forloop.counter}}. {{les.title}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            
                            </ul>
                        </li> 
                        {% endfor %}
                        </ul>
                   {% elif course %}
                        {% if request.user in course.students.all %}
                        <ul class="sidebar-menu">
                            <div class="sidebar-heading">{{course.title}}</div>
                            {% for section in course.section.all  %}
                            <li class="sidebar-menu-item ">
                                <a class="sidebar-menu-button js-sidebar-collapse " data-toggle="collapse" href="#sections{{section.id}}">
                                    <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                    {{section}}
                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse sm-indent " id="sections{{section.id}}">

                                    {% for lesson in section.lesson.all  %}
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button" href="{{lesson.get_absolute_url}}">

                                                <span class="sidebar-menu-text">{{forloop.counter}}. {{lesson.title}}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                
                                </ul>
                            </li> 
                            {% endfor %}
                        </ul>                       
                        {% endif %}
                    {% endif %}
                    
                   <ul class="sidebar-menu">
                        <div class="sidebar-heading">Yordamchi Menu</div>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#student_menu">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-folder-open'></i></span>
                                Kurslarim
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="student_menu">

                                {% for course in request.user.courses_joined.all  %}
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="{{course.get_absolute_url}}">

                                            <span class="sidebar-menu-text">{{forloop.counter}}. {{course.title}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            
                            </ul>
                        </li>


                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{{request.user.get_absolute_url}}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class="fa fa-id-card"></i></span>
                                Mening Profilim
                            </a>
                        </li>
 
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse"  href="{% url 'tutor_dashboard'%}">
                                <span class=" sidebar-menu-icon sidebar-menu-icon--left"><i class='fa fa-user-edit'></i></span>
                                Profilni O'zgartirish
                            </a>
                        </li>
                        
                     
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}                       