
{% extends 'new/base.html' %} {% load static %}


{% block main %}

    
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->

            {% include 'new/tutor_navbar.html' %}

            <!-- // END Header -->

            <div class="page-section bg-body border-bottom-2" style="padding-bottom: 2px;">
                <div class="container page__container">
                    <div class="text-center d-flex align-items-center flex-wrap mb-32pt" style="white-space: nowrap;">
                        <h5 class="mr-24pt mb-md-0 d-md-inline-block" >Fanlar</h5>
                        {% for subject in request.user.profile.subject.all %}
                        <a href="#" class="chip mb-16pt mb-md-0 chip-outline-secondary">{{subject}}</a>
                        {% endfor %}
                        {% comment %} <a href="#" class="chip mb-16pt chip-secondary mb-md-0 ">Geometry</a> {% endcomment %}
                    </div>
                </div>
            </div>
            
            
            <div class="page-section">
                <div class="container page__container" style="min-height:36vh;">

                    <div class="row">
                        <div class="col-md-10">

                            <div class="page-separator">
                                <div class="page-separator__text">Mening kurslarim </div>
                            </div>

                            <div class="mb-24pt">
                            {% if object_list.count > 0 %}
                            
                            {% for course in object_list %}
                                <div class="card posts-card posts-card--wrap-xl">
                                    <div class="posts-card__content d-flex align-items-center flex-wrap">
                                        <div class="avatar avatar-lg overlay overlay--primary rounded o-hidden mr-3" style='max-width: 30%; width: 9rem; height: 7rem;'>
                                            <a href="{{course.get_absolute_url}}"><img src="{{course.banner.url}}" alt="avatar" class="avatar-img rounded"></a>
                                            <div class="overlay__content"></div>
                                        </div>
                                        <div class="posts-card__title flex d-flex flex-column" style="max-width: 80%;">
                                            <a href="{{course.get_absolute_url}}" class="card-title mr-3" style=' font-size:21px;'>{{course.title}}</a>
                                            <p style='white-space: initial;'>{{course.overview|truncatechars:200}}</p>
                                            <div class="d-flex align-items-center flex-column flex-sm-row posts-card__meta">
                                                <div class="mr-3 text-50 text-uppercase posts-card__tag d-flex align-items-center">
                                                    <i class="material-icons text-muted-light mr-1">folder_open</i> {{course.subject}}
                                                </div>
                                                <div class="mr-3 text-50 posts-card__date">
                                                    <small style="float: right;">{{course.created}}</small>
                                                </div>
                                                <div class="" style="margin-left: auto;margin-right: 10px; ">
                                                    <a href="{{course.get_update_url}}" style="color:cadetblue;"><small>EDIT <i class='fa fa-pencil-alt'></i></small></a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                            {% endfor %}
                            
                            {% else %}
                            <h4 class='text-center text-info mt-5'> Hozircha birorta ham kurs mavjud emas.</h4>
                            <p class='text-center text-shadow'> Marhamat o'z kursingizni qo'shing </p>
                            <div class='text-center mb-5'><a href="{%url 'course_create'%}" class='btn btn-accent-yellow'>Kurs Qo'shish </a></div>
                            {% endif %}

                            </div>


                        </div>
                       
                    </div>

                </div>
            </div>

                    <!--   START FOOTER     -->
                    {% include 'new/footer.html' %}
                    <!--   END FOOTER     -->

        </div>
        <!-- // END drawer-layout__content -->


        <!-- drawer -->
        
                   <!-- <div class="sidebar-heading">Applications</div> -->
                  {% include 'new/tutor_sidebar.html' %}
                        
             
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->

{% endblock main %}
