{% extends 'new/base.html' %} {% load static %}


<style>
{% block style %}
#pic {
    {% if object.profile.img %}
        background-image:url("{{object.profile.img.url}}");
    {% else %}
        {% if object.is_tutor %}
        background-image:url("{% static 'assets/images/illustration/teacher/128/white.svg' %}");
        width:212px!important;
        {% else %}
        width:185px!important;
        background-image:url("{% static 'assets/images/illustration/student/128/white.svg' %}");
        {% endif %}
        
    {% endif %}
}
{% endblock style %}
</style>

{% block main %}

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

            <!-- Header -->
                {% include 'new/tutor_navbar.html' %}
            <!-- // END Header -->

            <div class="page-section bg-primary">
                <div class="container page__container  align-items-center text-center text-md-left">
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div id='pic' style=' height: 180px;
                                    width: 75%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    margin: auto;
                                }'>
                                                            
                            </div>
                        </div>
                        <div class='col-sm-6' style='margin:auto;'>
                        <h2 class='mb-0'> {{object.get_full_name}} </h2>
                        <p style='font-size:initial;color:aliceblue; '> Ro'yxatdan o'tgan: {{object.date_joined.date}} , 
                        <b><u>{% if object.is_tutor %}
                        O'qituvchi <br> {% for subject in object.profile.subject.all %}
                        {{subject}}
                        {% endfor %}
                        {% else %} O'quvchi {% endif %}</u></b></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section bg-white border-bottom-2">
                <div class="container page__container">
                    <div class="row">
                        <div class="col-md-6" style='font-size:initial;  '>
                            <h4>Asosiy ma'lumotlar</h4>
                            <p>F.I.SH: <strong>{{object.first_name}} {{object.second_name}} {{object.last_name}}</strong></p>
                            <p>Shaxsiy tel: <strong> {% if object.phone %}{{object.phone}}{% else %} --- {% endif %}</strong></p>
                            {% if not object.is_tutor %}
                            <p>Ota-onasing tel: <strong>{% if  object.profile.parent_phone%}{{object.profile.parent_phone}}{% else %} --- {% endif %}</strong></p>
                            {% endif %}
                            <p>O'quvchilari soni: <strong>{{object.my_students}}</strong></p>
                            <p>Oxirgi marta: <strong>{{object.last_login}}</strong></p>
                        </div>
                        <div class="col-md-6" style='font-size:initial;' >
                            <h4>Manzil</h4>
                            <p>{% if object.profile.get_address != '  '  %}<strong>{{object.profile.get_address}}</strong>{% else %} - ma'lumot kiritilmagan -</i> {% endif %}</p>
                            <h4>Qo'shimcha</h4>
                            <p> Pochta: {% if object.email %}<strong>{{object.email}}</strong>{% else %} --- {% endif %} </p>
                            <p>Tavsif: {% if object.profile.about %}<strong>{{object.profile.about}}</strong>{% else %} --- {% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container page__container page-section">

                <div class="page-headline text-center pb-2">
                    <h3 class='text-primary-dodger-blue'>{% if not object.is_tutor %} Qatnashadigan {% endif %} Kurslari </h3>
                </div>



                <div class="row card-group-row mb-8pt" style="width: 100%;margin-left: initial;">
                {% if object.is_tutor %}
                    {% if object.owned_courses.count > 0 %}
                        {% for course in object.owned_courses.all %}
                            <div class="col-sm-6 card-group-row__col mr-1" style='max-width:49%;padding:inherit;'>
                                <div class="card card-sm card-group-row__card">
                                    <div class="card-body d-flex align-items-center">
                                        <a href="course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                            <img src="{{course.banner.url}}" alt="banner" class="avatar-img rounded">
                                            <span class="overlay__content"></span>
                                        </a>
                                        <div class="flex">
                                            <a class="card-title mb-4pt" href="{{course.get_absolute_url}}">{{course.title}}</a>
                                            <div class="d-flex align-items-center">
                                                <small class="text-muted">{{course.subject}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    
                    <div class="card col-12">
                    <div class="card-body">
                        <h5 class='text-center' style='color: cadetblue; width:100%'> Hozircha kurslar mavjud emas.</h5>
                    </div>
                    </div>
                    {% endif %}
                {% else %}
                    {% if object.courses_joined.count > 0 %}
                        {% for course in object.courses_joined.all %}
                        <div class="col-sm-6 card-group-row__col" style='padding:inherit;'>
                            <div class="card card-sm card-group-row__card">
                                <div class="card-body d-flex align-items-center">
                                    <a href="course.html" class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                        <img src="{{course.banner.url}}" alt="banner" class="avatar-img rounded">
                                        <span class="overlay__content"></span>
                                    </a>
                                    <div class="flex">
                                        <a class="card-title mb-4pt" href="{{course.get_absolute_url}}">{{course.title}}</a>
                                        <div class="d-flex align-items-center">
                                            <small class="text-muted">{{course.subject}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="card col-12">
                    <div class="card-body">
                        <h5 class='text-center' style='color: cadetblue; width:100%'> Hozircha kurslar mavjud emas.</h5>
                    </div>
                    </div>
                    {% endif %}
                {% endif %}
                </div>



                {% if not object.is_tutor %}
                <div class="page-headline text-center pb-2">
                    <h4 class='text-primary-dodger-blue text-center' > Barcha yechgan test natijalari ro'yxati </h4>
                </div>

                <div class="card">
                    <div class="card-body">
                        
                        {% if object.test_results.count > 0 %}
                        <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-from" data-lists-sort-desc="true" data-lists-values="[&quot;js-lists-values-order&quot;, &quot;js-lists-values-name&quot;, &quot;js-lists-values-result&quot;, &quot;js-lists-values-rating&quot;, &quot;js-lists-values-subject&quot;, &quot;js-lists-values-course&quot;, &quot;js-lists-values-section&quot;, &quot;js-lists-values-lesson&quot;, &quot;js-lists-values-percentage&quot;,&quot;js-lists-values-solved&quot;]">
                            
                            <div class="card-header">
                                <div class="search-form">
                                    <input type="text" class="form-control search" placeholder="Qidirish ...">
                                    <button class="btn" type="button"><i class="material-icons">search</i></button>
                                </div>
                            </div>
                            <table class="table mb-0 thead-border-top-0 table-nowrap">
                                <thead>
                                    <tr>

                                        <th style="width: 18px;" class="pr-0">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-order">№</a>
                                        </th>

                                        <th style="width: 170px;" class='text-center'>
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Test nomi</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-result"> Natija</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-rating"> Reyting</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-subject">Fan</a>
                                        </th>
                                        <th style="width: 150px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-course">Kurs</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-section">Bo'lim</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-lesson">Dars</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-percentage">O'rtacha</a>
                                        </th>
                                        <th style="width: 48px;">
                                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-solved">Yechilgan</a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="list" id="leaves">
                                {% for test in object.test_results.all  %}
                                    <tr>
                                        <td class="pr-0 text-center js-lists-values-order small"> {{forloop.counter}} </td>

                                        <td style='min-width:140px; white-space:initial;'>
                                            <a href='{{test.test.get_results_url}}' class="mb-0"><strong class="js-lists-values-name">{{test.test.title}}</strong></a>
                                        </td>
                                        
                                        <td class="text-center  small">
                                        <strong class="js-lists-values-result text-success mb-4pt">{{test.result}}</strong><small>/{{test.test.test_number}}</small>
                                        </td>

                                        <td class="text-center  small">
                                        <strong class="js-lists-values-rating text-primary-red mb-4pt">{{test.rating}}</strong><small>/{{test.test.results.count}}</small>
                                        </td>
                                        
                                        <td class='text-center'>
                                            <a href='{% if test.test.subject %}{{test.test.subject.get_absolute_url}}{% endif %}#' class="js-lists-values-subject ">{% if test.test.subject %}{{test.test.subject}}{% else %}-{% endif %}</small>
                                        </td>
                                        <td style='min-width:130px; white-space:initial;'>
                                            <a href="{% if test.test.lesson.last %}{{test.test.lesson.last.section.course.get_absolute_url}}{% endif %}#"class="js-lists-values-course ">{% if test.test.lesson.last %}{{test.test.lesson.last.section.course}}{% else %}-{% endif %}</a>
                                        </td>
                                        <td style='min-width:130px; white-space:initial;'>
                                            <a href="{% if test.test.lesson.last %}{{test.test.lesson.last.section.course.get_absolute_url}}{% endif %}#"class="js-lists-values-section">{% if test.test.lesson.last %}{{test.test.lesson.last.section}}{% else %}-{% endif %}</a>
                                        </td>
                                        <td style='min-width:130px;  white-space:initial;'>
                                            <a href="{% if test.test.lesson.last %}{{test.test.lesson.last.get_absolute_url}}{% endif %}#"class="js-lists-values-lesson ">{% if test.test.lesson.last %}{{test.test.lesson.last}}{% else %}-{% endif %}</a>
                                        </td>
                                        <td class='text-center'>
                                            <small class="pr-0 text-center js-lists-values-percentage small"> {{test.percentage}}% </small>
                                        </td>
                                        <td class='text-center'>
                                            <small class="js-lists-values-solved text-50">{{test.created}}</small>
                                        </td>
                                    
                                    </tr>
                                {% endfor %}
                                
                              
                                
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body bordet-top text-right text-primary-dodger-blue pb-0 " style='font-size:20px;'>
                            <span> Jami: {{object.test_results.count}} </span>
                        </div> 
                        {% else %}
                            <h5 class='text-center' style='color: cadetblue; width:100%'> Hozircha birota ham test yechilmagan.</h5>
                        {% endif %}

                    </div>
                </div>
                {% endif %}
            </div>




        <!--  START  FOOTER -->
        {% include 'new/footer.html' %}
        <!--  END  FOOTER  -->

        </div>
        <!-- // END drawer-layout__content -->




        <!-- drawer -->
        {% include 'new/tutor_sidebar.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->
{% endblock %}

{% block js_link %}

     <!-- List.js -->
    <script src="{%static 'assets/vendor/list.min.js'%}"></script>
    <script src="{%static 'assets/js/list.js'%}"></script>

    <!-- Tables -->
    <script src="{%static 'assets/js/toggle-check-all.js'%}"></script>
    <script src="{%static 'assets/js/check-selected-row.js'%}"></script>

 {% endblock js_link %}