{% extends "base.html" %} {% load crispy_forms_tags %}

{% block title %}
    Edit "{{ course.title }}"
{% endblock %}

{% block content %}
<div class=" container ">
    <h1 class=" text-center" >Edit "{{ course.title }}"</h1>
    <div class='row'>
    <div class='col-sm-6 offset-sm-3'>
    
        <h2 class=" text-center">Course sections</h2>
        <form method="post">
            {{ formset|crispy }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" class='btn btn-info' value="Save sections">
        </form>
    </div>
    </div>
    </div>
{% endblock %}