{% extends "base.html" %}{% load course %}

{% block title %}
    Section {{ section.order|add:1 }}: {{ section.title }}
{% endblock %}

{% block content %}
    {% with course=section.course %}
        <h1>Course "{{ course.title }}"</h1>
        <div class="contents">
            <h3>Sections</h3>
            <ul id="modules">
                {% for m in course.section.all %}
                    <li data-id="{{ m.id }}" {% if m == section %} class="selected"{% endif %}>
                        <a href="{% url "section_content_list" m.id %}">
                            <span>
                                Section <span class="order">{{ m.order|add:1 }}</span>
                            </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                {% empty %}
                    <li>No sections yet.</li>
                {% endfor %}
            </ul>
            <p><a href="{% url "course_section_update" course.id %}"> Edit sections </a></p>
        </div>
        <div class="card">
            <h2>Section {{ section.order|add:1 }}: {{ section.title }}</h2>
            <h3>Section Test:</h3>
            <div id="module-contents">
                    <div data-id="{{ test.id }}">
                            <p>{{ test }} ({{ test.test_file.url }})</p>
                            <a href=""
                            style='display:inline-block; margin-right: 20px; float: left; margin-top: -11px;
                                                                                    border: 2px solid black;
                                                                                    padding: 1px 3px;}'>
                            Edit</a>
                            
                            <form action="" method="post" style='display:inline-block;'>
                                <input type="submit" value="Delete" > {% csrf_token %}
                            </form>
                        
                    </div>
               
            </div>
            <h3>Add new test:</h3>
            <ul class="content-types">
                <li>
                    <a href="{% url "section_content_create" section.id "text" %}"> Add Test</a>
                </li>
            </ul>
        </div>
    {% endwith %}
{% endblock %}