{% extends "base.html" %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}
    <h1>  {{ module.title }}  </h1>
    <div class="contents">
        <h3>Sections</h3>
        <ul id="modules">
            {% for m in object.sections.all %}
                <li data-id="{{ m.id }}" {% if m == section %} class="selected" {% endif %}>
                    <a href="{% url "student_course_detail_module" object.id m.id %}">
                        <span>
                            Section <span class="order">{{ m.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ m.title }}
                    </a>
                </li>
            {% empty %}
                <li>No section yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}